<template>
    <div class="flex-center position-ref full-height">
    <div class="code">
        404
    </div>

    <div class="message" style="padding: 10px;">
        Not Found
    </div>
    </div>
</template>

<script>
    export default {
        name: "Error404"
    }
</script>

<style scoped>

</style>