<template>
    <table id="" class="tableResponsive table table-striped table-bordered dt-responsive nowrap">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Código</th>
            <th>Descripción</th>
            <th>Detalle</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="c in product_categories">
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.code }}</td>
            <td>{{ c.description }}</td>
            <td><a class="read-more" href="javascript:void(0)">Ver más</a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Código</th>
            <th>Descripción</th>
            <th>Detalle</th>
        </tr>
        </tfoot>
    </table>
</template>

<script>
export default {
    name: "ProductCategories-Table-Component",
    created() {
        this.getProductCategories()
    },
    methods:{
        getProductCategories(){
            axios.get('/api/panel/product-categories')
                .then(response => {
                    this.product_categories = response.data;
                })
        }
    },
    data:() =>({
       product_categories:[],
    }),
    updated: function () {
        this.$nextTick(function () {
            $('.tableResponsive').DataTable({
                "language": {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }

                },
                'destroy'      :true,
                'stateSave'   : true,

            }).draw();

        })
    }

};
</script>

<style scoped>

</style>