<template>
	<!--ALERTAS -->
	<div class="alerts" :class="show?'alertShow '+type:''">
		<div class="boxAlert">
			<div class="closeAlert"><i class=""></i></div>
			<div class="contentAlert">
				<h3 class="titleAlert">¡{{title}}!</h3>
				<p>{{message}}</p>
				<div class="buttonsAlert">
					<button class="btnAlertPrimary" @click="closeAlert">Aceptar</button>
					<!-- <button class="btnAlertSecondary">Cancelar</button> -->
				</div>
			</div>
		</div>
	</div>
	<!--ALERTAS -->
</template>

<script>
    export default {
        name: "AlertsComponent",
        props:['type','show','title','message'],
        data:()=>({

        }),
        methods:{
        	closeAlert(){
        		this.$emit('closeAlert');
        	}
        }
    };

</script>