<template>
    <section id="recargar" class="content homePanelPage">
        <h1 class="c1">BIENVENIDO</h1>
        <div class="infoTables">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="homePanel">
                                    <p>Bienvenido al sistema Morana</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "Panel-Index-Component"
    }
</script>

<style scoped>

</style>