<template>
	 <table id="" class="tableResponsive table table-striped table-bordered dt-responsive nowrap">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombres y Apellidos</th>
                                        <th>DNI</th>
                                        <th>Teléfono / Celular</th>
                                        <th>E-mail</th>
                                        <th>Rol</th>
                                        <th>Detalle</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="u in users">
                                        <td>{{u.id}}</td>
                                        <td>{{u.name}}</td>
                                        <td>{{u.dni}}</td>
                                        <td>{{ getCellOrTele(u) }}</td>
                                        <td>{{u.email}}</td>
                                        <td>{{ getRoleName(u) }}</td>
                                        <td><a class="read-more" href="javascript:void(0)" @click="showMore(user)">Ver más</a></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombres y Apellidos</th>
                                        <th>DNI</th>
                                        <th>Celular</th>
                                        <th>E-mail</th>
                                        <th>Rol</th>
                                        <th>Detalle</th>
                                    </tr>
                                    </tfoot>
                                </table>
</template>

<script>
	export default {
		name: 'Users-Table-Component',
		created(){
            this.getUsers();
        },
		methods:{
			getUsers(){
                axios.get('/api/panel/users')
                    .then(response =>{
                        this.users = response.data;
                    }).catch(error=>{})
            },
            getRoleName(u){
			    if(u.roles.length > 0){
                    return u.roles[0].name;
                }
			    return '';

            },
            getCellOrTele(c){
                if ((c.cellphone === null || c.cellphone === undefined )|| (c.telephone === null || c.telephone === undefined )){
                    if (c.cellphone === null || c.cellphone ===  undefined){
                        return  c.telephone;
                    }else if (c.telephone === null || c.telephone === undefined){
                        return  c.cellphone;
                    }
                    return ''
                }else{
                    return c.telephone+' / '+c.cellphone;
                }
            },
            showMore(user){
                alert('user')
            }
		},
		data: ()=>({
  			users:[],
		}),
        updated: function () {
            this.$nextTick(function () {
                $('.tableResponsive').DataTable({
                    "language": {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Último",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }

                    },
                    'destroy'      :true,
                    'stateSave'   : true,

                }).draw();

            })
        },
	};

</script>
