<template>
<div>
    <ValidationObserver v-slot="{ invalid , handleSubmit }">
        <form @submit.prevent="handleSubmit(login)">
            <ValidationProvider rules="required|digits:8" v-slot="{ errors,classes }" tag="p">
                <span class="label">DNI:</span>
                <span class="inputs">
                    <input type="text" v-model.trim="dni" name="dni" autocomplete="off" @keyup="cleanLoginError()">

                    <span v-if="errors_login.dni.length > 0" class="alertform">{{errors_login.dni[0]}}</span>
                    <span class="alertform">{{ errors[0] }}</span>
                </span>
            </ValidationProvider>

            <ValidationProvider rules="required" v-slot="{ errors,classes }" tag="p">
                <span class="label">Contraseña:</span>
                <span class="inputs">
                    <input type="password"  v-model.trim="password" name="password">
                     <span class="alertform">{{ errors[0] }}</span>
                </span>
            </ValidationProvider>
            <p>
                <span class="label rememberMe"></span>
                <span class="inputs">
                     <input class="remember" type="checkbox" value="" v-model="remember">
                     <span class="rememberCheck"></span>
                     <span class="rememberMeLabel">Recordar contraseña</span>
                </span>
            </p>
            <p>
                <button type="submit">INGRESAR</button>
            </p>
        </form>
    </ValidationObserver>
    <p class="forgotPassword">
        <a href="#">¿Olvidaste tu contraseña?</a>
    </p>
</div>
</template>

<script>
    import { localize } from 'vee-validate/dist/vee-validate.full.esm';
    export default {
        name: "Login-Component",
        created() {
            localize('es',this.customMessages.es) //messages for errors
        },
        data:()=>({
            dni:'',
            password:'',
            remember:false,
            errors_login:{dni:[]},

            //errors messages
            customMessages: {
                es: {
                    fields: {
                        'dni': {
                            required: 'Ingrese su DNI',
                            digits:'El DNI ingresado no es valido',
                        },
                        'password': {
                            required: 'Ingrese su contraseña'
                        }
                    }
                }
            }
        }),
        methods:{
            login(){
                axios.post('/',{'dni': this.dni,'password': this.password, 'remember':this.remember})
                    .then(res =>{
                        //this.$router.push({name:'panel.index'});
                        window.location.href='/panel'
                    })
                    .catch(err =>{
                        this.errors_login.dni=[];
                        err.response.data.errors['dni'].map(e=>{
                            this.errors_login.dni.push(e)
                        })
                    })
            },
            cleanLoginError(){
                if (this.errors_login.dni.length > 0){
                    this.errors_login.dni=[];
                }
            }
        }
    }
</script>

<style scoped>

</style>