<template>

</template>

<script>
    export default {
        name: "Reports-Create-View",
        mounted() {
            let heightWindows = $(window).height();
            let minHeightMorana = heightWindows - 83;
            $('section.content').css('min-height',minHeightMorana);
            if ($('.mainNav').hasClass('expanded')) {
                $('.mainNav').addClass('expanded');
                $('section.content').addClass('expanded');
                $('.footerMorana').addClass('expanded');
                $('.menuButton').addClass('menuOpen');
            }
        }
    }
</script>

<style scoped>

</style>