<template>
    <!--SECCION AGREGAR CATEGORÍA -->
    <section id="recargar" class="content addCategory">
        <alert-component :show="show" :title="title" :message="message" :type="type" @closeAlert="closeAlert"></alert-component>
        <h1 class="c1">AGREGAR CATEGORÍA</h1>
        <div class="infoTables">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="forms">
                                    <p class="indications">Por favor, seleccione e ingrese los datos de la categoría.</p>
                                    <ValidationObserver v-slot="{ invalid , handleSubmit, reset}"  ref="form">
                                    <form  @submit.prevent="handleSubmit(saveCategory)">
                                        <p>
                                            <span class="label">Nombre de la Categoría:</span><ValidationProvider rules="required" v-slot="{ errors,classes }" tag="span" class="inputs">
													<input type="text" id="name" v-model.trim="name">
                                                    <span class="alertform">{{ errors[0] }}</span>
                                            </ValidationProvider>
                                        </p>
                                        <p>
                                            <span class="label">Código de la Categoría:</span><ValidationProvider rules="required|alpha_num|length:3" v-slot="{ errors,classes }" tag="span" mode="aggressive" class="inputs">
													<input type="text" id="code" @focus="focusInput" v-model.trim="code" autocomplete="off">
                                                    <span class="alertform">{{ errors[0] }}</span>
                                            </ValidationProvider>
                                        </p>
                                        <p>
                                            <span class="label">Descripción:</span><span class="inputs">
													<textarea name="" id="description" v-model.trim="description" cols="30" rows="10"></textarea>
												</span>
                                        </p>
                                        <p>
                                            <button v-if="invalid" :disabled="invalid">Agregar</button>
                                            <button v-else :disabled="invalid" type="submit">Agregar</button>
                                        </p>
                                    </form>
                                    </ValidationObserver>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECCION AGREGAR CATEGORÍA -->
</template>

<script>
    import { localize } from 'vee-validate/dist/vee-validate.full.esm';
    export default {
        name: "Categories-Create-View",
        created() {
            localize('es',this.customMessages.es) //messages for errors
        },
        methods:{
            saveCategory(){
                axios.post('/api/panel/product-categories',{
                    'name':this.name,
                    'code':this.code,
                    'description':this.description,
                })
                    .then(response => {
                        this.showAlertInfo(response.data.message)
                        this.clearForm()
                    })
                    .catch(error =>{})
            },
            focusInput(){
                this.code = this.name.substr(0,3).toUpperCase();
            },
            clearForm(){
                this.name=this.code=this.description='';
                this.$nextTick(() => {
                    this.$refs.form.reset();
                });
            },
            showAlertInfo(message){
                this.show = true;
                this.message=message;
                this.type="information";
                this.title="CORRECTO"
            },
            closeAlert(){
                this.show = false;
            }
        },
        data:() =>({
            name:'',
            code:'',
            description:'',


            //errors messages
            customMessages: {
                es: {
                    fields: {
                        'name': {
                            required: 'El nombre no puede quedar vacio',
                        },
                        'code': {
                            required: 'El codigo no puede quedar vacio',
                            alpha_num: 'El codigo debe tener solo letras o numeros',
                            length:'El codigo debe tener 3 carateres'
                        },

                    }
                }
            },

            //alert
            show:false,
            message:"",
            title:"",
            type:"",

        }),
        mounted() {
            let heightWindows = $(window).height();
            let minHeightMorana = heightWindows - 83;
            $('section.content').css('min-height',minHeightMorana);
            if ($('.mainNav').hasClass('expanded')) {
                $('.mainNav').addClass('expanded');
                $('section.content').addClass('expanded');
                $('.footerMorana').addClass('expanded');
                $('.menuButton').addClass('menuOpen');
            }
        }

    };
</script>

<style scoped>

</style>