<template>
    <table id="" class="tableResponsive table table-striped table-bordered dt-responsive nowrap">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre o Razón Social</th>
            <th>DNI / RUC</th>
            <th>Teléfono / Celular</th>
            <th>E-mail</th>
            <th>Dirección</th>
            <th>Tipo de Cliente</th>
            <th>Detalle</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="c in clients">
            <td>{{c.id}}</td>
            <td>{{ getName(c) }}</td>
            <td>{{ getDniOrRuc(c) }}</td>
            <td>{{ getCellOrTele(c) }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.address }}</td>
            <td>{{ c.client_type.name }}</td>
            <td><a class="read-more" href="javascript:void(0)">Ver más</a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>#</th>
            <th>Nombre o Razón Social</th>
            <th>DNI / RUC</th>
            <th>Teléfono / Celular</th>
            <th>E-mail</th>
            <th>Dirección</th>
            <th>Tipo de Cliente</th>
            <th>Detalle</th>
        </tr>
        </tfoot>
    </table>
</template>

<script>
export default {
    name: "Clients-Table-Component",
    created() {
        this.getClients();
    },
    methods:{
        getClients(){
            axios.get('/api/panel/clients')
                .then(response =>{
                    this.clients = response.data;
                })
        },
        getDniOrRuc(c){
            if (c.ruc === null){
                return c.dni
            }
            return c.ruc;
        },
        getCellOrTele(c){
            if ((c.cellphone === null || c.cellphone === undefined )|| (c.telephone === null || c.telephone === undefined )){
                if (c.cellphone === null || c.cellphone ===  undefined){
                    return  c.telephone;
                }else if (c.telephone === null || c.telephone === undefined){
                    return  c.cellphone;
                }
                return ''
            }else{
                return c.telephone+' / '+c.cellphone;
            }
        },
        getName(c){
            if (c.full_name === null){
                return c.business_name;
            }
            return c.full_name;
        }

    },
    data:() =>({
        clients:[]
    }),
    updated: function () {
        this.$nextTick(function () {
            $('.tableResponsive').DataTable({
                "language": {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }

                },
                'destroy'      :true,
                'stateSave'   : true,

            }).draw();

        })
    }
};
</script>

<style scoped>

</style>