<template>
    <!--SECCION PEDIDOS -->
    <section id="recargar" class="content orders">
        <h1 class="c1">PEDIDOS</h1>
        <div class="infoTables">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="" class="tableResponsive table table-striped table-bordered dt-responsive nowrap">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Cliente</th>
                                        <th>N° Orden</th>
                                        <th>F. Pedido</th>
                                        <th>F.Entrega</th>
                                        <th>Estado</th>
                                        <th>Detalle</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Universidad Nacional de Piura</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>--</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Municipalidad Provincial de Piura</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>Recibido</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Gobierno Regional</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>En producción</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Municipalidad Distrital de Huancabamba</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>Terminado</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Dirección Regional de Salud - Piura</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>Entregado</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Universidad Nacional de Piura</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>--</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Municipalidad Provincial de Piura</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>Recibido</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Gobierno Regional</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>En producción</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Municipalidad Distrital de Huancabamba</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>Terminado</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Dirección Regional de Salud - Piura</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>Entregado</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>Universidad Nacional de Piura</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>--</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>Municipalidad Provincial de Piura</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>Recibido</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>Gobierno Regional</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>En producción</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>Municipalidad Distrital de Huancabamba</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>Terminado</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>Dirección Regional de Salud - Piura</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>Entregado</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>Universidad Nacional de Piura</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>--</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>Municipalidad Provincial de Piura</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>Recibido</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>Gobierno Regional</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>En producción</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>Municipalidad Distrital de Huancabamba</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>Terminado</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>Dirección Regional de Salud - Piura</td>
                                        <td>234ABCD2353</td>
                                        <td>17/07/2020</td>
                                        <td>15/12/2020</td>
                                        <td>Entregado</td>
                                        <td><a class="read-more" href="#">Ver más</a></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Cliente</th>
                                        <th>N° Orden</th>
                                        <th>F. Pedido</th>
                                        <th>F.Entrega</th>
                                        <th>Estado</th>
                                        <th>Detalle</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECCION PEDIDOS -->
</template>

<script>
    export default {
        name: "Orders-List-View",
        mounted() {
            let heightWindows = $(window).height();
            let minHeightMorana = heightWindows - 83;
            $('section.content').css('min-height',minHeightMorana);
            if ($('.mainNav').hasClass('expanded')) {
                $('.mainNav').addClass('expanded');
                $('section.content').addClass('expanded');
                $('.footerMorana').addClass('expanded');
                $('.menuButton').addClass('menuOpen');
            }
        }
    }
</script>

<style scoped>

</style>