<template>
    <!--SECCION AGREGAR PEDIDOS -->
    <section id="recargar" class="content addOrders">
        <h1 class="c1">AGREGAR PEDIDO</h1>
        <div class="infoTables">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="forms">
                                    <p class="indications">Por favor, seleccione e ingrese los datos del producto.<br>Pedido N°<span>000234</span></p>

                                    <div class="stepsAddOrders">
                                        <div class="steps">
                                            <span class="stepsline"></span>
                                            <span class="step step1" :class="{'active': step1}">1</span>
                                            <span class="step step2" :class="{'active': step2}">2</span>
                                            <span class="step step3" :class="{'active': step3}">3</span>
                                            <span class="step step4" :class="{'active': step4}">4</span>
                                        </div>
                                    </div>
                                    <ValidationObserver ref="form" v-slot="{ invalid , handleSubmit }">
                                    <form @submit.prevent="handleSubmit(saveOrder)">
                                        <div class="contentOrdersFull" :class="getSteps" >
<!--                                    <div class="contentOrdersFull step1Active step2Active step3Active step4Active">-->
                                            <div class="stepContent sc1">
                                                <div class="col2">
                                                    <div class="col80">
                                                        <h2>DATOS DEL CLIENTE <button type="button" :disabled=" !(client.dni_ruc.length === 8 || client.dni_ruc.length === 11)">Buscar</button></h2>
                                                        <div>
                                                            <p>
                                                                <span class="label">RUC / DNI:</span>
                                                                <ValidationProvider rules="required|min:8|max:11|numeric" vid="client_dni_ruc" v-slot="{ errors,classes }" tag="span" class="inputs">
																		<input type="text" v-mask="'###########'" v-model.trim="client.dni_ruc" id="client_dni_ruc">
                                                                        <span class="alertform">{{ errors[0] }}</span>
                                                                </ValidationProvider>
                                                            </p>
                                                            <p>
                                                                <span class="label">Nombre / R. Social:</span>
                                                                <ValidationProvider rules="required" vid="client_name" v-slot="{ errors,classes }" tag="span" class="inputs">
																		<input type="text" v-model.trim="client.name" id="client_name" >
                                                                        <span class="alertform">{{ errors[0] }}</span>
																	</ValidationProvider>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div><div class="col2">
                                                <div class="col80">
                                                    <h2>Persona de Contacto</h2>
                                                    <div>
                                                        <p>
                                                            <span class="label">Nombres y Apellidos:</span>
                                                            <span class="inputs">
																		<input type="text">
																	</span>
                                                        </p>
                                                        <p>
                                                            <span class="label">DNI:</span>
                                                            <span class="inputs">
																		<input type="text">
																	</span>
                                                        </p>
                                                        <p>
                                                            <span class="label">Email:</span>
                                                            <span class="inputs">
																		<input type="text">
																	</span>
                                                        </p>
                                                        <p>
																	<span class="col2">
																		<span class="label">Celular:</span>
																		<span class="inputs">
																			<input type="text">
																		</span>
																	</span><span class="col2">
																		<span class="label">Teléfono:</span>
																		<span class="inputs">
																			<input type="text">
																		</span>
																	</span>
                                                        </p>
                                                        <p>
																	<span class="inputs">
																		<div class="buttonNext step1Button">Siguiente</div>
																	</span>
                                                        </p>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div><div class="stepContent sc2">
                                            <!--ITEM PRODUCTO-->
                                            <div class="productItemAdd">
                                                <div class="col2">
                                                    <div class="col80">
                                                        <div>
                                                            <h2>DATOS DEL PRODUCTO</h2>
                                                            <p>
                                                                <span class="label">Nombre del Producto:</span>
                                                                <span class="inputs">
<!--																			<input type="text" v-model.trim="product.name">-->
                                                                    <v-select label="name" :filterable="false" v-model="product" :options="options" @search="onSearch">
                                                                        <template slot="no-options">
                                                                            Escribe el nombre de un producto..
                                                                        </template>
                                                                        <template slot="option" slot-scope="option">
                                                                            <div class="d-center">
<!--                                                                                <img :src='option.owner.avatar_url'/>-->
                                                                                {{ option.name }}
                                                                            </div>
                                                                        </template>
                                                                        <template slot="selected-option" slot-scope="option">
                                                                            <div class="selected d-center">
<!--                                                                                <img :src='option.owner.avatar_url'/>-->
                                                                                {{ option.name }}
                                                                            </div>
                                                                        </template>
                                                                    </v-select>
                                                                </span>
                                                            </p>
                                                            <p>
                                                                <span class="label">Categoría:</span>
                                                                <span class="inputs">
                                                                        <template v-if="product !== null">
                                                                            <select class="" name="" v-model="product.product_category_id">
																				<option value="" disabled="disabled">Selecciona una categoría</option>
																				<option v-for="c in categories" :value="c.id" v-text="c.name" ></option>
																			</select>
                                                                        </template>
                                                                    <template v-else>
                                                                         <select class="" name="">
																				<option value="" disabled="disabled">Selecciona una categoría</option>
																				<option v-for="c in categories" :value="c.id" v-text="c.name" ></option>
																			</select>
                                                                    </template>

																		</span>
                                                            </p>
                                                            <p>
                                                                <span class="label"></span><span class="inputs">

																			<span class="col2">
																				<span class="label">Cantidad:</span>
																				<ValidationProvider rules="required|min_value:1|numeric" vid="product_quantity" v-slot="{ errors,classes }" tag="span" class="inputs">
                                                                                     <input v-if="product == null" type="number" class="form-control" id="product_quantity" :class="classes"   >
                                                                                     <input v-else type="number" class="form-control" id="product_quantity" :class="classes" v-model.number="product.quantity" >
                                                                                     <span class="alertform">{{ errors[0] }}</span>
																				</ValidationProvider>
																			</span><span class="col2">
																				<span class="label">Color:</span> <pre>{{product}}</pre>
																				<span class="inputs">
																					<input v-if="product === null" id="color" value='#276cb8' />
																					<input v-else id="color"  @value="product.color" />

																				</span>
																			</span>
																		</span>
                                                            </p>
                                                            <p>
                                                                <span class="label">Descripción:</span><span class="inputs">
																			<textarea name="" id="" cols="30" rows="10"></textarea>
																		</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div><div class="col2">
                                                <div class="col80">
                                                    <h2></h2>
                                                    <div>
                                                        <h2>Dimensiones del producto</h2>
                                                        <p>
                                                            <span class="label"></span><span class="inputs">

																			<span class="col2">
																				<span class="label">Altura(cm):</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span><span class="col2">
																				<span class="label">Ancho(cm):</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span>
																		</span>
                                                        </p>
                                                        <p>
                                                            <span class="label"></span><span class="inputs">
																			<span class="col2">
																				<span class="label">Profundidad(cm):</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span><span class="col2">
																				<span class="label">Diámetro(cm):</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span>
																		</span>
                                                        </p>
                                                        <p>
                                                            <span class="label"></span><span class="inputs">

																			<span class="col2">
																				<span class="label">Espesor:</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span><span class="col2">
																				<span class="label"></span>
																				<span class="inputs">
																				</span>
																			</span>
																		</span>
                                                        </p>
                                                        <p>
                                                            <span class="label">Imagen Referencial:</span><span class="inputs">
																			<input class="addImage" type="file" name="" accept="image/png, image/jpeg"><span class="resetImage">X</span>
																		</span>
                                                        </p>
                                                        <p>
																		<span class="inputs">
																			<!--BOTON PARA AGREGAR PRODUCTO-->
																			<div class="addOtherProduct icon-plus-circle active">Agregar producto</div>
                                                                            <!--BOTON PARA AGREGAR PRODUCTO-->

                                                                            <!--BOTON PARA GUARDAR CAMBIOS-->
                                                                            <!--<div class="addOtherProduct icon-check active">Guardar cambios</div>-->
                                                                            <!--BOTON PARA GUARDAR CAMBIOS-->
																		</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <!--ITEM PRODUCTO-->

                                            <!--LISTA PRODUCTOS AGREGADOS-->
                                            <h2>Productos Agregados</h2>
                                            <div class="productListAdd">
                                                <!--CABECERA PRODUCTOS AGREGADOS-->
                                                <div class="itemList">
                                                    <span class="title b700">Producto</span><span class="quantity b700">Cantidad</span><span class="editItemList"></span><span class="deleteItemList"></span>
                                                </div>
                                                <!--CABECERA PRODUCTOS AGREGADOS-->
                                                <!--ITEM AGREGADO-->
                                                <div class="itemList">
                                                    <span class="title">Mesa de madera circular de 4 esquinas :v</span><span class="quantity">10000</span><span class="editItemList icon-pencil-square-o"></span><span class="deleteItemList icon-trash"></span>
                                                </div>
                                                <!--ITEM AGREGADO-->
                                                <!--ITEM AGREGADO-->
                                                <div class="itemList">
                                                    <span class="title">Mesa de madera circular de 4 esquinas :v</span><span class="quantity">9999999</span><span class="editItemList icon-pencil-square-o"></span><span class="deleteItemList icon-trash"></span>
                                                </div>
                                                <!--ITEM AGREGADO-->
                                            </div>
                                            <!--LISTA PRODUCTOS AGREGADOS-->

                                            <!--BOTON SIGUIENTE PASO-->
                                            <div class="productItemAdd">
                                                <div class="col2">
                                                </div><div class="col2">
                                                <div class="col80">
                                                    <p>
																		<span class="inputs">
																			<div class="buttonNext step2Button">Siguiente</div>
																		</span>
                                                    </p>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            </div>
                                            <!--BOTON SIGUIENTE PASO-->
                                        </div><div class="stepContent sc3">
                                            <div class="OrdersData">
                                                <h2>DATOS DEL PEDIDO</h2>
                                                <p>
                                                    <span class="label"></span><span class="inputs">
																<span class="col2">
																	<span class="label">Fecha de Ingreso:</span>
																	<span class="inputs">
																		<input type="date">
																	</span>
																</span><span class="col2">
																	<span class="label">Tiempo estimado (días)</span>
																	<span class="inputs">
																		<input type="number">
																	</span>
																</span>
															</span>
                                                </p>
                                                <p>
                                                    <span class="label"></span><span class="inputs">
																<span class="col2">
																</span><span class="col2">
																	<span class="label">Fecha de entrega</span>
																	<span class="inputs">
																		<input type="date">
																	</span>
																</span>
															</span>
                                                </p>
                                                <p>
                                                    <span class="label">Lugar de Entrega:</span><span class="inputs">
																<textarea name="" id="" cols="30" rows="10">Cargar por defecto dirección registrada de cliente</textarea>
															</span>
                                                </p>
                                                <p>
															<span class="inputs">
																<div class="buttonNext step3Button">Siguiente</div>
															</span>
                                                </p>
                                                <div class="clear"></div>
                                            </div>
                                        </div><div class="stepContent sc4">
                                            <div class="col2">
                                                <div class="col80">
                                                    <h2></h2>
                                                    <div>
                                                        <h2>DATOS DE FACTURACIÓN</h2>
                                                        <p>
                                                            <span class="label"></span><span class="inputs">

																			<span class="col2">

																				<span class="label">Moneda:</span>
																				<span class="inputs">
																					<select class="" name="">
																						<option selected="true">Soles</option>
																						<option class="" value="">Dólares</option>
																					</select>
																				</span>
																			</span><span class="col2">
																				<span class="label">Monto:</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span>
																		</span>
                                                        </p>
                                                        <p>
                                                            <span class="label"></span><span class="inputs">
																			<span class="col2">
																				<span class="label">Incluye IGV:</span>
																				<span class="inputs">
																					<span class="optionsIGV">
																						<span class="typeRadio">
																						  <input id="igvsi" type="radio" name="igvoption" value="1"
                                                                                                 checked>
																						  <label for="igvsi">Sí</label>
																						</span>

																						<span class="typeRadio">
																						  <input id="igvno" type="radio" name="igvoption" value="0">
																						  <label for="igvno">No</label>
																						</span>
																					</span>
																				</span>
																			</span><span class="col2">
																				<span class="label">Descuento (%):</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span>
																		</span>
                                                        </p>
                                                        <p>
                                                            <span class="label"></span><span class="inputs">

																			<span class="col2">
																				<span class="label">Total a pagar:</span>
																				<span class="inputs">
																					<input disabled="" type="text">
																				</span>
																			</span><span class="col2">
																				<span class="label"></span>
																				<span class="inputs">
																				</span>
																			</span>
																		</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div><div class="col2">
                                            <div class="col80">
                                                <h2></h2>
                                                <div>
                                                    <h2>Detalle de facturación</h2>
                                                    <p>
                                                        <span class="label"></span><span class="inputs">

																			<span class="col2">

																				<span class="label">Tipo de Comprobante:</span>
																				<span class="inputs">
																					<select class="" name="">
																						<option selected="true">Factura</option>
																						<option class="" value="">Boleta</option>
																					</select>
																				</span>
																			</span><span class="col2">
																				<span class="label">Número de Comprobante:</span>
																				<span class="inputs">
																					<input type="text">
																				</span>
																			</span>
																		</span>
                                                    </p>
                                                    <p>
                                                        <span class="label"></span><span class="inputs">

																			<span class="col2">

																				<span class="label">Forma de Pago:</span>
																				<span class="inputs">
																					<select class="" name="">
																						<option selected="true">Contado</option>
																						<option class="" value="">Crédito</option>
																					</select>
																				</span>
																			</span><span class="col2">
																				<span class="label">Número de cuotas:</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span>
																		</span>
                                                    </p>
                                                    <!--CUOTAS-->
                                                    <p>
                                                        <span class="label"></span><span class="inputs">
																			<span class="col2">
																				<span class="label">1°Cuota:</span>
																				<span class="inputs">
																					<input type="number" value="">
                                                                                    <!--PONER EN VALUE TOTAL ENTRE NÚMERO DE CUOTAS-->
																				</span>
																			</span><span class="col2">
																				<span class="label">Cancelada:</span>
																				<span class="inputs">
																					<span class="optionsPayFees">
																						<span class="typeRadio">
																						  <input id="payyes" type="radio" name="payFees1" value="1">
																						  <label for="payyes">Sí</label>
																						</span>

																						<span class="typeRadio">
																						  <input id="paynot" type="radio" name="payFees1" value="0">
																						  <label for="paynot">No</label>
																						</span>
																					</span>
																				</span>
																			</span>
																		</span>
                                                    </p>
                                                    <!--CUOTAS-->
                                                    <!--CUOTAS-->
                                                    <p>
                                                        <span class="label"></span><span class="inputs">
																			<span class="col2">
																				<span class="label">2°Cuota:</span>
																				<span class="inputs">
																					<input type="number" value="">
                                                                                    <!--PONER EN VALUE TOTAL ENTRE NÚMERO DE CUOTAS-->
																				</span>
																			</span><span class="col2">
																				<span class="label">Cancelada:</span>
																				<span class="inputs">
																					<span class="optionsPayFees">
																						<span class="typeRadio">
																						  <input id="payyes" type="radio" name="payFees2" value="1">
																						  <label for="payyes">Sí</label>
																						</span>

																						<span class="typeRadio">
																						  <input id="paynot" type="radio" name="payFees2" value="0" checked>
																						  <label for="paynot">No</label>
																						</span>
																					</span>
																				</span>
																			</span>
																		</span>
                                                    </p>
                                                    <!--CUOTAS-->
                                                    <!--CUOTAS-->
                                                    <p>
                                                        <span class="label"></span><span class="inputs">
																			<span class="col2">
																				<span class="label">3°Cuota:</span>
																				<span class="inputs">
																					<input type="number" value="">
                                                                                    <!--PONER EN VALUE TOTAL ENTRE NÚMERO DE CUOTAS-->
																				</span>
																			</span><span class="col2">
																				<span class="label">Cancelada:</span>
																				<span class="inputs">
																					<span class="optionsPayFees">
																						<span class="typeRadio">
																						  <input id="payyes" type="radio" name="payFees3" value="1">
																						  <label for="payyes">Sí</label>
																						</span>

																						<span class="typeRadio">
																						  <input id="paynot" type="radio" name="payFees3" value="0" checked>
																						  <label for="paynot">No</label>
																						</span>
																					</span>
																				</span>
																			</span>
																		</span>
                                                    </p>
                                                    <!--CUOTAS-->
                                                    <!--CUOTAS-->
                                                    <p>
                                                        <span class="label"></span><span class="inputs">
																			<span class="col2">
																				<span class="label">4°Cuota:</span>
																				<span class="inputs">
																					<input type="number" value="">
                                                                                    <!--PONER EN VALUE TOTAL ENTRE NÚMERO DE CUOTAS-->
																				</span>
																			</span><span class="col2">
																				<span class="label">Cancelada:</span>
																				<span class="inputs">
																					<span class="optionsPayFees">
																						<span class="typeRadio">
																						  <input id="payyes" type="radio" name="payFees4" value="1">
																						  <label for="payyes">Sí</label>
																						</span>

																						<span class="typeRadio">
																						  <input id="paynot" type="radio" name="payFees4" value="0" checked>
																						  <label for="paynot">No</label>
																						</span>
																					</span>
																				</span>
																			</span>
																		</span>
                                                    </p>
                                                    <!--CUOTAS-->
                                                    <p>
																		<span class="inputs">
																			<button>FINALIZAR</button>
																		</span>
                                                    </p>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    </form>
                                    </ValidationObserver>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECCION AGREGAR PEDIDOS -->
</template>

<script>
import { localize } from 'vee-validate/dist/vee-validate.full.esm';
import _ from 'lodash';
    export default {
        name: "Orders-Create-View",
        watch:{
           product: function (newVal, oldVal){
               console.log(newVal)
           }
        },
        methods:{
            saveOrder(){

            },
            getCategories(){
                axios.get('/api/panel/product-categories').then(res =>{
                    this.categories= res.data
                })
            },
            //select test
            onSearch(search, loading) {
                loading(true);
                this.search(loading, search, this);
            },
            search: _.debounce((loading, search, vm) => {
                axios.get(
                    `/api/panel/products/search?search=${escape(search)}`
                ).then(res => {
                    vm.options = res.data.products
                    loading(false);
                });
            }, 350)
        },
        created(){
          this.getCategories();
            localize('es',this.error_messages.es) //messages for errors
        },
        computed:{
            getSteps(){
                let classes="";
                if (this.step1){
                    classes = 'step1Active '
                }
                if ( this.step2){
                    classes+= 'step2Active '
                }
                if ( this.step3){
                    classes+= 'step3Active '
                }
                if ( this.step4){
                    classes+= 'step4Active '
                }
                return classes;

            }
        },
        data:() =>({
            //form client
            client:{
                id:"",
                dni_ruc:"",
                name:"",
            },

            //form contact
            contact:{
                full_name:"",
                dni:"",
                email:"",
                cellphone:"",
                telephone:"",
            },

            //form product
            product:{
                id:-1,
                name:'',
                product_category_id:-1,
                code:'',
                color:'',
                height:'',
                width:'',
                depth:'',
                diameter:'',
                thickness:'',
                image:'',
                description:'',

                correlative:'',

                quantity:1,
                product_category: {id: -1, name: "", code: "", description: ""}
            },

            //categories
            categories:[],

            //steps
           step1:true,
           step2:false,
           step3:false,
           step4:false,

           //select test
            options: [],

            error_messages:{
                es: {
                    fields: {
                        'client_dni_ruc':{
                            required: 'Ingrese un dni o ruc',
                            min:'De ingresar 8 digitos para buscar un dni o 11 para el ruc',
                            max:'De ingresar 8 digitos para buscar un dni o 11 para el ruc',
                            numeric:'Solo valores numeri:v'

                        },
                        'client_name':{
                            required:'El nombre del cliente no puede quedar vacio'
                        },
                        'name': {
                            required: 'El nombre no puede quedar vacio',
                        },
                        'product_category_id': {
                            required: 'Aún no ha seleccionado una categoria',
                        },
                        'product_quantity':{
                            required:'Debe agregar una cantidad validad',
                            min_value:'No se permiten valores menores a 1'
                        },
                        'code': {
                            required: 'El codigo no puede quedar vacio',

                        },
                    }
                }
            }

        }),
        mounted() {

            /*COLOUR PICKER*/
            $('#color').spectrum({
                type: "color",
                showPalette: "false",
                showAlpha: "false",
                allowEmpty: "false"
            });

            let heightWindows = $(window).height();
            let minHeightMorana = heightWindows - 83;
            $('section.content').css('min-height',minHeightMorana);
            if ($('.mainNav').hasClass('expanded')) {
                $('.mainNav').addClass('expanded');
                $('section.content').addClass('expanded');
                $('.footerMorana').addClass('expanded');
                $('.menuButton').addClass('menuOpen');
            }
        }
    }
</script>

<style scoped>
img {
    height: auto;
    max-width: 2.5rem;
    margin-right: 1rem;
}

.d-center {
    display: flex;
    align-items: center;
}

.selected img {
    width: auto;
    max-height: 23px;
    margin-right: 0.5rem;
}

.v-select .dropdown li {
    border-bottom: 1px solid rgba(112, 128, 144, 0.1);
}

.v-select .dropdown li:last-child {
    border-bottom: none;
}

.v-select .dropdown li a {
    padding: 10px 20px;
    width: 100%;
    font-size: 1.25em;
    color: #3c3c3c;
}

.v-select .dropdown-menu .active > a {
    color: #fff;
}
</style>