<template>
    <!--SECCION CLIENTES -->
    <section id="recargar" class="content customers">
        <h1 class="c1">CLIENTES</h1>
        <div class="infoTables">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <clients-table-component></clients-table-component>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECCION CLIENTES -->
</template>

<script>
    export default {
        name: "Clients-List-View",
        mounted() {
            let heightWindows = $(window).height();
            let minHeightMorana = heightWindows - 83;
            $('section.content').css('min-height',minHeightMorana);
            if ($('.mainNav').hasClass('expanded')) {
                $('.mainNav').addClass('expanded');
                $('section.content').addClass('expanded');
                $('.footerMorana').addClass('expanded');
                $('.menuButton').addClass('menuOpen');
            }
        }
    }
</script>

<style scoped>

</style>