<template>
    <!--SECCION AGREGAR CLIENTES -->
    <section id="recargar" class="content addCustomers">
        <alert-component :show="show" :title="title" :message="message" :type="type" @closeAlert="closeAlert"></alert-component>
        <h1 class="c1">AGREGAR CLIENTE</h1>
        <div class="infoTables">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="forms">
                                    <p class="indications">Por favor, seleccione e ingrese los datos del cliente.</p>
                                    <ValidationObserver v-slot="{ invalid , handleSubmit, reset}"  ref="form">
                                    <form @submit.prevent="handleSubmit(saveClient)">
                                        <p class="customersType">
                                            <span class="label"></span><span class="inputs">

													<span class="col2">
														<span class="label">Tipo de cliente:</span>
														<ValidationProvider tag="span" v-slot="{ errors,classes }" rules="required" class="inputs">
															<select id="client_type_id" name="client_type_id" v-model="client_type_id" @change="changeSelect">
																<option selected="true" value="" disabled="disabled">Selecciona una opción</option>
                                                                <option v-for="t in types"  :value="t.id">{{t.name}}</option>
															</select>
                                                             <span class="alertform">{{ errors[0] }}</span>
														</ValidationProvider>
													</span><span class="col2">
														<span v-if="client_type_id === 1" class="optionDNI">
															<span class="label">DNI:</span>
															<ValidationProvider tag="span" vid="dni" v-slot="{ errors,classes }" rules="required|digits:8" class="inputs">
                                                                <input type="text" v-model.trim="dni" id="dni" v-mask="'########'">
                                                                <span class="alertform">{{ errors[0] }}</span>
                                                            </ValidationProvider>
														</span>
														<span v-else class="optionRUC">
															<span class="label">RUC:</span>
															<ValidationProvider tag="span" vid="ruc" v-slot="{ errors,classes }" rules="required|digits:11" class="inputs">
																<input type="text" v-model.trim="ruc"  id="ruc" v-mask="'###########'">
                                                                <span class="alertform">{{ errors[0] }}</span>
                                                            </ValidationProvider>
														</span>
													</span>
												</span>
                                        </p>
                                        <p class="customersType">
												<span v-if="client_type_id === 1" class="optionDNI" >
													<span class="label">Nombres y Apellidos:</span><ValidationProvider tag="span" vid="full_name" v-slot="{ errors,classes }" rules="required" class="inputs">
															<input type="text" v-model.trim="full_name" id="full_name">
                                                            <span class="alertform">{{ errors[0] }}</span>
                                                    </ValidationProvider>
												</span>
                                            <span v-else class="optionRUC">
													<span class="label">Razón Social:</span><ValidationProvider tag="span" vid="business_name" v-slot="{ errors,classes }" rules="required" class="inputs">
															<input type="text" v-model.trim="business_name" id="business_name">
                                                            <span class="alertform">{{ errors[0] }}</span>
                                                    </ValidationProvider>
												</span>
                                        </p>
                                        <p>
                                            <span class="label">Dirección:</span><ValidationProvider tag="span" v-slot="{ errors,classes }" rules="required" class="inputs">
													<input type="text" id="address" v-model.trim="address" name="address">
                                                    <span class="alertform">{{ errors[0] }}</span>
                                            </ValidationProvider>
                                        </p>
                                        <p>
                                            <span class="label">E-mail:</span><ValidationProvider tag="span" v-slot="{ errors,classes }" rules="required" class="inputs">
													<input type="text" v-model.trim="email" id="email" name="email">
                                                    <span class="alertform">{{ errors[0] }}</span>
                                            </ValidationProvider>
                                        </p>

                                        <p>
                                            <span class="label"></span><span class="inputs">

													<span class="col2">
														<span class="label">Celular:</span>
														<span class="inputs">
															<input type="text" v-model.trim="cellphone" v-mask="'###-###-###'" name="cellphone" id="cellphone">
														</span>
													</span><span class="col2">
														<span class="label">Teléfono:</span>
														<span class="inputs">
															<input type="text" v-model.trim="telephone" v-mask="'###-###-###'" name="telephone" id="telephone">
														</span>
													</span>

												</span>
                                        </p>
                                        <p>
                                            <button v-if="invalid" :disabled="invalid">Agregar</button>
                                            <button v-else :disabled="invalid" type="submit">Agregar</button>
                                        </p>
                                    </form>
                                    </ValidationObserver>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECCION AGREGAR CLIENTES -->
</template>

<script>
    import { localize } from 'vee-validate/dist/vee-validate.full.esm';
    export default {
        name: "Clients-Create-View",
        created() {
            localize('es',this.customMessages.es) //messages for errors
            this.getClientTypes();
        },
        methods:{
            saveClient(){
                axios.post('/api/panel/clients',{
                    'full_name':this.full_name,
                    'client_type_id':this.client_type_id,
                    'dni':this.dni,
                    'ruc':this.ruc,
                    'business_name':this.business_name,
                    'address':this.address,
                    'email':this.email,
                    'cellphone':this.cellphone,
                    'telephone':this.telephone,
                })
                    .then(response =>{
                        this.clearForm();
                        this.showAlertInfo(response.data.message);
                    })
                    .catch(error =>{

                    })

            },
            changeSelect(){
                this.dni='';
                this.ruc='';
                this.business_name='';
                this.full_name='';
                if(this.client_type_id=== 1){
                    this.$refs.form.setErrors({
                        ruc: ['El dni no puede quedar vacio'],
                        dni: [''],
                        full_name :[],
                        business_name:[]
                    });
                }else{
                    this.$refs.form.setErrors({
                        dni: ['El ruc no puede quedar vacio'],
                        ruc: [''],
                        full_name :[],
                        business_name:[]
                    });
                }
            },
            getClientTypes(){
                axios.get('/api/panel/client-types')
                    .then(response => {
                        this.types = response.data;
                        if(this.types.length > 0){
                            this.client_type_id = this.types[0].id;
                        }
                    })
            },
            clearForm(){
                this.ruc=
                this.dni=
                this.full_name=
                this.business_name=
                this.address=
                this.email=
                this.cellphone=
                this.telephone=
                this.client_type_id='';

                this.$nextTick(() => {
                    this.$refs.form.reset();
                });
            },
            showAlertInfo(message){
                this.show = true;
                this.message=message;
                this.type="information";
                this.title="CORRECTO"
            },
            closeAlert(){
                this.show = false;
            }
        },
        data:()=>({
            types:[],
            ruc:'',
            dni:'',
            full_name:'',
            business_name:'',
            address:'',
            email:'',
            cellphone:'',
            telephone:'',
            client_type_id:'',


            //errors messages
            customMessages: {
                es: {
                    fields: {
                        'full_name': {
                            required: 'El nombre no puede quedar vacio',
                        },
                        'ruc': {
                            required: 'El ruc no puede quedar vacio',
                            digits: 'EL ruc ingresado no es valido',
                        },
                        'dni': {
                            required: 'El dni no puede quedar vacio',
                            digits: 'El dni ingresado no es valido'
                        },
                        'address': {
                            required: 'La dirección no puede quedar vacia',
                        },
                        'business_name': {
                            required: 'La razon social no puede quedar vacia',
                        },
                        'email': {
                            required: 'El email no puede quedar vacio',
                            email:'El email ingresado no es valido'
                        },
                        'cellphone': {
                            required: 'El celular no puede quedar vacio',
                        },
                        'phone': {
                            required: 'El telefono no puede quedar vacio',
                        },
                        'client_type_id': {
                            required: 'El rol no puede quedar vacio',
                        }

                    }
                }
            },

            //alert
            show:false,
            message:"",
            title:"",
            type:"",
        }),
        mounted() {
            let heightWindows = $(window).height();
            let minHeightMorana = heightWindows - 83;
            $('section.content').css('min-height',minHeightMorana);
            if ($('.mainNav').hasClass('expanded')) {
                $('.mainNav').addClass('expanded');
                $('section.content').addClass('expanded');
                $('.footerMorana').addClass('expanded');
                $('.menuButton').addClass('menuOpen');
            }
        }
    };
</script>

<style scoped>
    .optionRUC{
        display: block !important;
    }
</style>