<template>
    <!--SECCION PRODUCTOS -->
    <section id="recargar" class="content products">
        <h1 class="c1">PRODUCTOS</h1>
        <div class="infoTables">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <products-table-component></products-table-component>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECCION PRODUCTOS -->
</template>

<script>
    export default {
        name: "Products-List-View",
        mounted() {
            var heightWindows = $(window).height();
            var minHeightMorana = heightWindows - 83;
            $('section.content').css('min-height',minHeightMorana);

            if ($('.mainNav').hasClass('expanded')) {
                $('.mainNav').addClass('expanded');
                $('section.content').addClass('expanded');
                $('.footerMorana').addClass('expanded');
                $('.menuButton').addClass('menuOpen');

            }
        }
    }
</script>

<style scoped>

</style>