<template>
    <!--SECCION AGREGAR PRODUCTOS -->
    <section id="recargar" class="content addProducts">
        <alert-component :show="show" :title="title" :message="message" :type="type" @closeAlert="closeAlert"></alert-component>
        <h1 class="c1">AGREGAR PRODUCTO</h1>
        <div class="infoTables">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="forms">
                                    <p class="indications">Por favor, seleccione e ingrese los datos del producto.</p>
                                    <ValidationObserver v-slot="{ invalid , handleSubmit, reset}"  ref="form">
                                    <form @submit.prevent="handleSubmit(saveProduct)">
                                        <p>
                                            <span class="label">Nombre del producto:</span><ValidationProvider rules="required" vid="name" v-slot="{ errors,classes }" tag="span" class="inputs">
													<input type="text" v-model.trim="name" id="name" placeholder="Escriba el nombre del producto" @keyup="generateCode" @blur="generateCode" autocomplete="off" >
                                                    <span class="alertform">{{ errors[0] }}</span>
                                            </ValidationProvider>
                                        </p>
                                        <p>
                                            <span class="label">Categoría del producto:</span><ValidationProvider vid="product_category_id" rules="required" v-slot="{ errors,classes }" tag="span" class="inputs">
													<select v-model="product_category_id" id="product_category_id" @change="generateCode">
														<option selected="true" value="" disabled="disabled">Selecciona una categoría</option>
														<option v-for="c in product_categories" :value="c.id">{{ c.name }}</option>
													</select>
                                                    <span class="alertform">{{ errors[0] }}</span>
                                            </ValidationProvider>
                                        </p>
                                        <p>
                                            <span class="label">Código del producto:</span><ValidationProvider vid="code" rules="required" v-slot="{ errors,classes }" tag="span" class="inputs">
													<input disabled type="text" v-model="code" id="code"  placeholder="">
                                                    <span class="alertform">{{ errors[0] }}</span>
                                            </ValidationProvider>
                                        </p>
                                        <p>
                                            <span class="label">Color:</span><span class="inputs">
													<input id="color" value='#276cb8' />
												</span>
                                        </p>
                                        <p>
                                            <span class="label">Dimensiones del producto:</span><span class="inputs">
												</span>
                                        </p>
                                        <p>
                                            <span class="label"></span><span class="inputs">

													<span class="col2">
														<span class="label">Altura(cm):</span>
														<span class="inputs">
															<input type="number" v-model.number="height">
														</span>
													</span><span class="col2">
														<span class="label">Ancho(cm):</span>
														<span class="inputs">
															<input type="number" v-model.number="width">
														</span>
													</span>
												</span>
                                        </p>
                                        <p>
                                            <span class="label"></span><span class="inputs">

													<span class="col2">
														<span class="label">Profundidad(cm):</span>
														<span class="inputs">
															<input type="number" v-model.number="depth">
														</span>
													</span><span class="col2">
														<span class="label">Diámetro(cm):</span>
														<span class="inputs">
															<input type="number" v-model.number="diameter">
														</span>
													</span>
												</span>
                                        </p>
                                        <p>
                                            <span class="label"></span><span class="inputs">

													<span class="col2">
														<span class="label">Espesor:</span>
														<span class="inputs">
															<input type="number" v-model.number="thickness">
														</span>
													</span><span class="col2">
														<span class="label"></span>
														<span class="inputs">
														</span>
													</span>
												</span>
                                        </p>

                                        <p>
                                            <span class="label">Imagen Referencial:</span><span class="inputs">
													<input class="addImage" ref="image" id="image" type="file" name="" accept="image/png, image/jpeg"><span @click="removeImage" class="resetImage">X</span>
												</span>
                                        </p>

                                        <p>
                                            <span class="label">Descripción:</span><span class="inputs">
													<textarea name="" v-model.trim="description" id="description" cols="30" rows="10"></textarea>
												</span>
                                        </p>
                                        <p>
                                            <button v-if="invalid" :disabled="invalid">Agregar</button>
                                            <button v-else :disabled="invalid" type="submit">Agregar</button>
                                        </p>
                                    </form>
                                    </ValidationObserver>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECCION AGREGAR PRODUCTOS -->
</template>

<script>
    import { localize } from 'vee-validate/dist/vee-validate.full.esm';
    export default {
        name: "Products-Create-View",
        created() {
            localize('es',this.customMessages.es) //messages for errors
            this.getProductCategories()
            this.debouncedGetAnswer = _.debounce(this.getCorrelativeCode, 500)
        },
        watch:{
            code(newVal, oldVal){
                //console.log(newVal)
                this.debouncedGetAnswer(newVal);
            }
        },
        methods:{
            async saveProduct(){
                let data = new FormData();
                data.append('name',this.name)
                data.append('code', this.code)
                data.append('product_category_id',this.product_category_id)
                data.append('color', this.getColor())
                data.append('height', this.height)
                data.append('width', this.width)
                data.append('depth', this.depth)
                data.append('diameter', this.diameter)
                data.append('thickness', this.thickness)
                data.append('diameter', this.diameter)
                data.append('description', this.description)
                data.append('image', this.$refs.image.files[0])

                await axios.post('/api/panel/products', data)
                    .then(response =>{
                        this.clearForm();
                        this.showAlertInfo(response.data.message);
                    })
                    .catch(error =>{})
            },
            getProductCategories(){
                axios.get('/api/panel/product-categories')
                    .then(response => {
                        this.product_categories = response.data;
                    })
            },
            getColor(){
                return  $("#color").val();
            },
            generateCode(){
                if (this.name.length > 0){
                      let code = this.getCodeProduct() +  this.getCodeCategory() + this.correlative;

                      this.code = code;
                }
            },
            getCodeProduct(){ //ok
                let code = "";
                if (this.name.length > 0){
                    let name =this.name.trim().toUpperCase().replace(/DE/gi,'');
                    let parts = name.split(' ').filter(n => n !== "");
                    if (parts.length > 0) {
                        code = parts.length === 1 ? parts[0].substr(0, 4) : parts[0].substr(0, 2) + parts[1].substr(0, 2);
                    }
                }
                return code;
            },
            getCodeCategory(){ //ok
                let c = this.product_categories.find( c =>{
                    return c.id === this.product_category_id;
                })
                if (c === undefined){
                    return '';
                }
                return c.code;
            },
            getCorrelativeCode(code){
                let tam = code.length - 3;
                let cut_code = code.slice(0,tam)
                //console.log(cut_code)
                axios.get('/api/panel/products/correlative-code?code='+cut_code)
                    .then(response =>{
                        this.correlative = this.generateCorrelative(response.data.count)
                        this.generateCode()
                    })
            },
            generateCorrelative(number){
                let code = "000"+number;
                let size = code.length;
                let cut_size = size - 3;
                return  code.substr(cut_size);
            },
            removeImage(){
                document.querySelector('#image').value = ''
            },
            clearForm(){
                this.name=this.code=this.color=this.height=this.width=this.depth=this.diameter=this.thickness=this.image=this.description=this.correlative=''
                this.product_category_id=''
                this.removeImage();
                this.$nextTick(() => {
                    this.$refs.form.reset();
                });
            },
            showAlertInfo(message){
                this.show = true;
                this.message=message;
                this.type="information";
                this.title="CORRECTO"
            },
            closeAlert(){
                this.show = false;
            }

        },
        data:()=>({
            product_categories:[],

            //form
            name:'',
            product_category_id:'',
            code:'',
            color:'',
            height:'',
            width:'',
            depth:'',
            diameter:'',
            thickness:'',
            image:'',
            description:'',

            correlative:'',

            //errors messages
            customMessages: {
                es: {
                    fields: {
                        'name': {
                            required: 'El nombre no puede quedar vacio',
                        },
                        'product_category_id': {
                            required: 'Aún no ha seleccionado una categoria',
                        },
                        'code': {
                            required: 'El codigo no puede quedar vacio',

                        },
                    }
                }
            },

            //alert
            show:false,
            message:"",
            title:"",
            type:"",

        }),
        mounted() {
            /*COLOUR PICKER*/
			$('#color').spectrum({
			  type: "color",
			  showPalette: "false",
			  showAlpha: "false",
			  allowEmpty: "false"
			});

            let heightWindows = $(window).height();
            let minHeightMorana = heightWindows - 83;
            $('section.content').css('min-height',minHeightMorana);
            if ($('.mainNav').hasClass('expanded')) {
                $('.mainNav').addClass('expanded');
                $('section.content').addClass('expanded');
                $('.footerMorana').addClass('expanded');
                $('.menuButton').addClass('menuOpen');
            }

        },
    }
</script>

<style scoped>

</style>