<template>
    <table id="" class="tableResponsive table table-striped table-bordered dt-responsive nowrap">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Código</th>
            <th>Color</th>
            <th>Descripción</th>
            <th>Detalle</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="p in products">
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.product_category.name }}</td>
            <td>{{ p.code }}</td>
            <td><span class="bg" :style="'background-color:'+p.color+';color:#fff'">{{ p.color }}</span> </td>
            <td>{{ p.description }}</td>
            <td><a class="read-more" href="#">Ver más</a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>#</th>
            <th>Nombres y Apellidos</th>
            <th>DNI</th>
            <th>Celular</th>
            <th>E-mail</th>
            <th>Rol</th>
            <th>Detalle</th>
        </tr>
        </tfoot>
    </table>
</template>

<script>
    export default {
        name: "Products-Table-Component",
        created() {
            this.getProducts()
        },
        methods:{
            getProducts(){
                axios.get('/api/panel/products')
                    .then(response => {
                        this.products = response.data;
                    })
                    .catch(error =>{})
            }
        },
        updated: function () {
            this.$nextTick(function () {
                $('.tableResponsive').DataTable({
                    "language": {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Último",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }

                    },
                    'destroy'      :true,
                    'stateSave'   : true,

                }).draw();

            })
        },
        data:()=>({
           products:[]
        }),
    };
</script>

<style scoped>

</style>