@charset "UTF-8";


@font-face {
  font-family: "morana";
  src:url("../fonts/morana.eot");
  src:url("../fonts/morana.eot?#iefix") format("embedded-opentype"),
    url("../fonts/morana.woff") format("woff"),
    url("../fonts/morana.ttf") format("truetype"),
    url("../fonts/morana.svg#morana") format("svg");
  font-weight: normal;
  font-style: normal;
  /*font-family:'morana',Sans-Serif;*/
}

/** Montserrat ExtraLight **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/Montserrat-ExtraLight.otf") format('opentype');
}
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/Montserrat-ExtraLight.ttf") format('truetype');
}
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"),
         url("../fonts/Montserrat-ExtraLight.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Montserrat-Regular.otf") format('opentype');
}
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Montserrat-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
         url("../fonts/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Montserrat-Medium.otf") format('opentype');
}
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Montserrat-Medium.ttf") format('truetype');
}
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
         url("../fonts/Montserrat-Medium.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Montserrat-Bold.otf") format('opentype');
}
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Montserrat-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
         url("../fonts/Montserrat-Bold.woff") format("woff");
}




[data-icon]:before {
  font-family: "morana" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "morana" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\61";
}
.icon-arrow-left:before {
  content: "\62";
}
.icon-arrow-right:before {
  content: "\63";
}
.icon-arrow-up:before {
  content: "\64";
}
.icon-menubutton:before {
  content: "\65";
}
.icon-menubutton-close:before {
  content: "\66";
}
.icon-dot-circle-o:before {
  content: "\67";
}
.icon-ios-circle-filled:before {
  content: "\68";
}
.icon-download:before {
  content: "\69";
}
.icon-pencil-square-o:before {
  content: "\6a";
}
.icon-trash:before {
  content: "\6b";
}
.icon-ban:before {
  content: "\6c";
}
.icon-eye:before {
  content: "\6d";
}
.icon-eye-slash:before {
  content: "\6e";
}
.icon-bookmark:before {
  content: "\6f";
}
.icon-bookmark-o:before {
  content: "\70";
}
.icon-bullhorn:before {
  content: "\71";
}
.icon-calendar:before {
  content: "\72";
}
.icon-calendar-o:before {
  content: "\73";
}
.icon-camera:before {
  content: "\74";
}
.icon-picture-o:before {
  content: "\75";
}
.icon-image-add:before {
  content: "\76";
}
.icon-setting:before {
  content: "\77";
}
.icon-logout:before {
  content: "\78";
}
.icon-commenting-o:before {
  content: "\79";
}
.icon-credit-card:before {
  content: "\7a";
}
.icon-envelope:before {
  content: "\41";
}
.icon-envelope-o:before {
  content: "\42";
}
.icon-exclamation-triangle:before {
  content: "\43";
}
.icon-exclamation-circle:before {
  content: "\44";
}
.icon-social-whatsapp:before {
  content: "\47";
}
.icon-social-whatsapp-outline:before {
  content: "\48";
}
.icon-social-youtube-outline:before {
  content: "\49";
}
.icon-social-youtube:before {
  content: "\4a";
}
.icon-social-facebook:before {
  content: "\45";
}
.icon-social-facebook-outline:before {
  content: "\46";
}
.icon-social-instagram-outline:before {
  content: "\4b";
}
.icon-social-instagram:before {
  content: "\4c";
}
.icon-social-twitter:before {
  content: "\4d";
}
.icon-social-twitter-outline:before {
  content: "\4e";
}
.icon-social-skype:before {
  content: "\4f";
}
.icon-social-skype-outline:before {
  content: "\50";
}
.icon-social-linkedin-outline:before {
  content: "\51";
}
.icon-social-linkedin:before {
  content: "\52";
}
.icon-info-circle:before {
  content: "\53";
}
.icon-categories:before {
  content: "\54";
}
.icon-users:before {
  content: "\55";
}
.icon-orders:before {
  content: "\57";
}
.icon-paperclip:before {
  content: "\58";
}
.icon-print:before {
  content: "\59";
}
.icon-customers:before {
  content: "\5a";
}
.icon-refresh:before {
  content: "\30";
}
.icon-truck:before {
  content: "\31";
}
.icon-reports:before {
  content: "\32";
}
.icon-square-o:before {
  content: "\33";
}
.icon-check-square-o:before {
  content: "\34";
}
.icon-ios-circle-outline:before {
  content: "\35";
}
.icon-circle-o:before {
  content: "\36";
}
.icon-check:before {
  content: "\37";
}
.icon-search:before {
  content: "\38";
}
.icon-plus-circle:before {
  content: "\39";
}
.icon-plus-square:before {
  content: "\21";
}
.icon-products:before {
  content: "\22";
}
.icon-reply-all:before {
  content: "\56";
}
.icon-reply:before {
  content: "\23";
}
.icon-ios-location:before {
  content: "\24";
}
.icon-ios-location-outline:before {
  content: "\25";
}
.icon-ios-telephone-outline:before {
  content: "\26";
}
.icon-ios-telephone:before {
  content: "\27";
}
.icon-angry-smiley:before {
  content: "\28";
}
.icon-blink-smiley:before {
  content: "\29";
}
.icon-happy-smiley:before {
  content: "\2a";
}
.icon-happy-smiley-very:before {
  content: "\2b";
}
.icon-omg-smiley:before {
  content: "\2c";
}
.icon-sad-smiley:before {
  content: "\2d";
}
.icon-heart:before {
  content: "\2e";
}
.icon-heart-o:before {
  content: "\2f";
}
.icon-thumbs-o-up:before {
  content: "\3a";
}
.icon-thumbs-up:before {
  content: "\3b";
}
.icon-android-star-outline:before {
  content: "\3c";
}
.icon-android-star:before {
  content: "\3d";
}
.icon-android-star-half:before {
  content: "\3e";
}

