@charset "UTF-8";

body{
	font-family: "Montserrat";
	font-weight: 400;
	font-size: 14px;
	background-color: #EFEFEF;
}
.c1{
	color: #1E4E59 !important;
}
.c2{
	color: #6F6E6E !important
}
.c-fuchsia{
	color:#FF1A66 !important;
}
.c-blue{
	color:#1A55AA !important;
}
.c-gray{
	color:#383838 !important;
}
.c-orange{
	color:#FF881D !important;
}
.c-green{
	color:#11B711 !important;
}
.b700{
	font-weight: 700;
}
.clear{
	clear: both;
}

header{
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.0625);
	display: block;
	height: 75px;
	margin-bottom: 0;
	padding: 0;
	position: fixed;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	z-index: 800;
	left: 0;
	top: 0;
}
header .row{
	margin: 0 !important;
	padding: 8px 15px 8px 0px;
}
header .row .col{
	position: relative;
}

.logo{
	max-width: 147px !important;
	vertical-align:top;
	margin: 0;
	padding: 0;
	height: 57px;
}
.menuButton{
	position: absolute;
	top: 20px;
	left: 210px;
	cursor: pointer;
	z-index: 9999999;
}
.menuButton.icon i{
	font-size: 2em;
}
.menuButton.icon.menuOpen i:before{
	content: "\66" !important;
}

.logo .shadow{fill:#353535;}
.logo .square{fill:#00E4FF;}
.logo .lines{fill:none;stroke:#18404E;stroke-width:0.1;stroke-miterlimit:10;}
.logo .letters{fill:#18404E;}

.infoUser{
	float: right;
	cursor: pointer;
}
.infoUser .photoUser img{
	width: 52px;
	height: 52px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.infoUser .nameUser{
	font-size: 1.2em;
	font-family: "Montserrat";
    font-weight: 500;
}
.infoUser .configUser{
	cursor: pointer;
}

.infoUser.active .configUser i:before{
	content: "\64" !important;
}


section.content{
	background-color: #EFEFEF;
	padding-top: 85px;
	padding-left: 50px;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
section.content.expanded{
	padding-left: 240px;
}
section.content.loginMorana{
	padding-left: 0 !important;
}


h1{
	font-weight: 700;
	text-align: center;
	font-size: 2em;
}

/*ESTILOS TABLAS*/
.infoTables .container{
	/*max-width: 1240px;*/
	max-width: -moz-available;
}
.infoTables .card .row:nth-child(2){
	background-color: #ffffff;
	padding-top: 6px;
	padding-bottom: 6px;
}
table.dataTable{
	width: 100% !important;
}
.card{
	background-color: transparent;
	border: none;
}
.card-body{
	padding: 0 25px;
}
table{
	background-color: #ffffff;
}
td:first-child,
th:first-child{
	border-left: 1px solid #dee2e6;
	border-left-width: 1px !important;
	background-color: transparent;
}
.mt-5{
	margin-top: 0 !important;
}
.page-item.active .page-link{
	background-color: #1E4E59;
	border-color: #1E4E59;
}
.page-link{
	color: #1E4E59;
}

.page-link:hover{
	color: #1E4E59;
}
.page-link:focus{
	color: #1E4E59;
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td.dtr-control::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th.dtr-control::before {
	background-color: #1E4E59;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td.dtr-control::before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th.dtr-control::before {
	background-color: #FF1A66;
}


/*ESTILOS MENU PRINCIPAL*/
.mainNav li,
.mainNav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.mainNav{
	background-color: #fff;
	bottom: 0;
	overflow: hidden;
	position: fixed;
	top: 73px;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	width: 50px;
	z-index: 1000;
	font-family: "Montserrat";
	padding-top: 1.5em;
}
.mainNav li.nav-item{
	padding-bottom: 0.5em;
}
.mainNav li.nav-item span.title,
.mainNav li.nav-item span.arrow,
.mainNav ul.dropdown-secondary{
	display: none;
}
.mainNav.expanded{
	width: 240px;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.mainNav.expanded li.nav-item span.title,
.mainNav.expanded li.nav-item span.arrow
{
	display: inline-block !important;
}
.mainNav a{
	text-decoration: none !important;
}
.mainNav li.nav-item span.icon,
.mainNav li.nav-item span.arrow{
	border-radius: 6px;
	display: inline-block;
	font-size: 1.3em;
	height: 35px;
	left: 0;
	line-height: 35px;
	margin-right: 14px;
	position: relative;
	text-align: center;
	width: 35px;
	text-decoration: none;
}

.mainNav li.nav-item span.arrow{
	margin-right: 0;
	color: #bfbbbb !important;
	font-size: 1.1em !important;
}
.mainNav li.nav-item a.dropdown-primary.active span.arrow i:before{
	content: "\61" !important;
}
/*.mainNav li.nav-item a.dropdown-primary.active + ul.dropdown-secondary{
	display: block !important;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}*/
.mainNav li.nav-item a.dropdown-primary.active,
.mainNav li.nav-item a.dropdown-primary:hover{
	background-color: #f9f9f9;
}
.mainNav li.nav-item a.dropdown-primary.active span.arrow,
.mainNav li.nav-item a.dropdown-primary:hover span.arrow{
	color: #6F6E6E !important;
}


.mainNav li.nav-item  span.title{
	display: inline-block;
	font-size: 1.2em;
	font-weight: 400;
	width: 145px;
}
.mainNav li.nav-item > ul li{
	font-size: 1em;
}


.mainNav ul li.nav-item > a{
	display: block;
	padding: 5px 0;
	white-space: nowrap;
}
ul.dropdown-secondary li a{
	display: block;
	padding: 8px 0 8px 54px;
	white-space: nowrap;
	font-size: 0.95em;
	position: relative;

}
ul.dropdown-secondary li a:before{
	content: "\67";
	font-family: "morana" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	left: -54px;
	top: 12px;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	color: transparent;
}
ul.dropdown-secondary li a:hover{
	background-color: #fbfbfb;
}

ul.dropdown-secondary li a.active{
	position: relative;
	padding-left: 72px;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
ul.dropdown-secondary li a.active:before{
	content: "\67";
	font-family: "morana" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	left: 54px;
	top: 12px;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.mainNav li.nav-item.orders ul.dropdown-secondary li a.active:before{
	color: #FF1A66;
}
.mainNav li.nav-item.customers ul.dropdown-secondary li a.active:before{
	color: #1A55AA;
}
.mainNav li.nav-item.users ul.dropdown-secondary li a.active:before{
	color: #383838;
}
.mainNav li.nav-item.products ul.dropdown-secondary li a.active:before{
	color: #FF881D;
}
.mainNav li.nav-item.categories ul.dropdown-secondary li a.active:before{
	color: #FF1A66;
}
.mainNav li.nav-item.reports ul.dropdown-secondary li a.active:before{
	color: #11B711;
}



/*NAVEGACION EDIT PERFIL*/
.profileNav{
	position: fixed;
	top: 74px;
	right: 0px;
	background-color: #ffffff;
	z-index: 99999;
	width: 200px;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem;
	display: none;
}
.profileNav ul,
.profileNav li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.profileNav ul li{
	display: block;
}
.profileNav ul li a{
	text-decoration: none;
	display: block;
	padding: 8px 0 8px 30px;
}
.profileNav ul li a:hover{
	color: #1E4E59 !important;
	background-color: #ececec !important;
}

.profileNav ul li a.nav-logout{
	border-top: 1px solid #ececec;
	color:#FF1A66 !important;
}
.profileNav ul li a.nav-logout:hover{
	background-color: #FF1A66 !important;
	color: #ffffff !important;
}

/*ALERTAS*/
.alerts{
	display: none;
	position: fixed;
	top: 0;
	left:0;
	right: auto;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.95);
	z-index: 99999999;
}
.alerts.alertShow{
	display: block !important;
}
.boxAlert{
	background-color: #ffffff;
	padding: 20px;
	max-width: 500px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem;
}
.contentAlert{

}
.contentAlert h3.titleAlert{
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	font-size: 1.4em;
}

.alerts.suggestion h3.titleAlert{
	color:#1A55AA;
}
.alerts.information h3.titleAlert{
	color:#11B711;
}
.alerts.warning h3.titleAlert{
	color:#FF1A66;
}

.contentAlert p{
	text-align: center;
	font-size: 1em;
}
.buttonsAlert button{
	display: block;
	width: 80%;
	max-width: 150px;
	outline: none;
	border: none;
	margin: 5px auto;

}
.buttonsAlert button.btnAlertSecondary{
	background-color: transparent;
	font-size: 0.8em;
	text-decoration: underline;
}

.alerts.suggestion .buttonsAlert button.btnAlertPrimary{
	background-color: #1A55AA;
	color: #ffffff;
	padding: 5px 0;
}
.alerts.information .buttonsAlert button.btnAlertPrimary{
	background-color: #11B711;
	color: #ffffff;
	padding: 5px 0;
}
.alerts.warning .buttonsAlert button.btnAlertPrimary{
	background-color: #FF1A66;
	color: #ffffff;
	padding: 5px 0;
}
.alerts.suggestion button.btnAlertSecondary:hover{
	color: #1A55AA;
}
.alerts.information button.btnAlertSecondary:hover{
	color: #11B711;
}
.alerts.warning button.btnAlertSecondary:hover{
	color: #FF1A66;
}

span.resetImage{
	cursor: pointer;
	display: inline-block;
	width: 20% !important;
	text-align: right !important;
}
input.addImage{
	background-color: transparent;
	border: none;
	padding-left: 0;
	display: inline-block;
	width: 80% !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*FOOTER*/
footer{
	border-top: 1px solid rgba(0,0,0,.0625);
	background-color: #1E4E59;
	margin-top: 30px;
	padding: 10px 0;
	color: #ffffff;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
footer p{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 0.8em;
}
.footerMorana.expanded{
	padding-left: 240px;
}


/*FORMS*/
.forms form{
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}
.forms p.indications{
	font-size: 0.95em;
	text-align: center;
	color: #737272;
	padding-bottom: 15px;
}
.forms span.label{
	display: block;
	width: 100%;
}
.forms span.inputs{
	display: block;
	width: 100%;
}
.col2{
	display: inline-block;
	vertical-align: top;
	width: 47%;
	margin-right: 3%;
}
.col2 + .col2{
	margin-left:  3%;
	margin-right: 0;
}


.forms .col2 span.col2{
	width: 49%;
	margin:0 1% 0 0;
}
.forms .col2 span.col2 + span.col2{
	margin:0 0 0 1%;
}

.forms .col2 span.label{
	display: block;
	min-width: 100%;
	text-align: left;
}
.forms .col2 span.inputs{
	display: block;
	min-width: 100%;
	margin-left: 0;
}


.forms input,
.forms select,
.forms textarea{
	width: 100%;
	padding: 6px 12px;
	padding: .375rem .75rem;
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	-webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.forms textarea{
	height: 80px;
	resize: none;
}
.forms input:focus,
.forms textarea:focus,
.forms select:focus{
	color:#495057;
	background-color:#fff;
	border-color:#1E4E59;
	outline:none;
	-webkit-box-shadow:0 0 0 .2rem rgba(30,78,89,.25);
	box-shadow:0 0 0 .2rem rgba(30,78,89,.25)
}
.forms input[type="file"]{
	background-color: transparent;
	border: none;

}
.forms p{
		margin: 0 auto;
		width: 100%;
		max-width: 600px;
		margin: 0 auto 8px auto;
}
.forms button, .buttonNext{
	display: block;
	width: 80%;
	max-width: 150px;
	outline: none;
	border: none;
	margin: 30px auto 15px auto;
	background-color: #FF1A66;
	color: #ffffff;
	padding: 5px 0;
	font-weight: 700;
	border-radius: .25rem;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem;
	text-transform: uppercase;
	cursor: pointer;
	float: right;
	text-align: center;
}
form button:disabled,
form button.disabled,
input[type="text"]:disabled,
input[type="text"].disabled{
	background-color: #cccccc;
	cursor: default;
}
.forms form h2{
	font-size: 1.2em;
	font-weight: 700;
}

/*Paleta*/
.sp-palette-container,
.sp-alpha{
	display: none !important;
}
.sp-alpha-enabled .sp-top {
    margin-bottom: 6px !important;
}
/*Pasos Pedido*/
.stepsAddOrders{
	width: 80%;
	margin: auto;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    max-width: 365px;
    margin-bottom: 30px;
}
.stepsAddOrders .steps{
	position: relative;
}
.stepsAddOrders .step::before{
	content: '';
    position: absolute;
    width: 55px;
    height: 1px;
    background: #cccccc;
    top: 25px;
    right: -57px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.stepsAddOrders .step.step4::before{
	display: none;
}
.stepsAddOrders .step{
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 2px solid #cccccc;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	text-align: center;
	line-height: 50px;
	background-color: transparent;
	font-size: 1.4em;
	margin-right: 50px;
	color: #cccccc;
	position: relative;
}
.stepsAddOrders .step.step4{
	margin-right: 0px;
}
.stepsAddOrders .step.active{
	border: 2px solid #FF1A66;
	font-weight: 700;
	color: #FF1A66;
	font-size: 1.4em;
	cursor: pointer;
	z-index: 99;
}
.stepsAddOrders .step.active.full{
	background-color: #FF1A66;
	color: #FFFFFF;
}
.stepsAddOrders .step.active.full::before{
	background-color: #FF1A66;
}
.addOrders .forms form,
.addOrders .forms p{
	max-width: 100%;
}
.addOrders .forms form{
	overflow: hidden;
}


.contentOrdersFull{
	width: 400%;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.contentOrdersFull.step2Active{
	margin-left: -100% !important;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.contentOrdersFull.step3Active{
	margin-left: -200% !important;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.contentOrdersFull.step4Active{
	margin-left: -300% !important;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.contentOrdersFull .stepContent{
	width: 25%;
	display: inline-block;
	vertical-align: top;
}
.stepContent button{
	float: right;
}
.col80{
	width: 80%;
	margin: auto;
}
/*Cientes*/
.optionRUC,.optionDNI{
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	white-space: nowrap;
}
.optionRUC{
	display: none;
}
.addOtherProduct{
	cursor: pointer;
	color: #cccccc;
	font-weight: 700;
	font-size: 1.1em;
	float: right;
	cursor: default;
	max-width: 50%;
	margin: 22px auto;
	text-align: center;
}
.addOtherProduct.active{
	color: #FF1A66;
	cursor: pointer;
}
.addOtherProduct:before{
	vertical-align: top;
	font-size: 1.5em;
}
.productListAdd{
	width: 80%;
	margin:auto;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background-color: #ffffff;
}
.productListAdd .itemList{
	border-bottom: 1px solid #ccc;
}
.productListAdd .itemList .title{
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	width: 55%;
	padding-right: 4%;
	padding-left: 1%;
	vertical-align: middle;
}
.productListAdd .itemList .quantity{
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	width: 20%;
	vertical-align: middle;
	text-align: right;
}
.productListAdd .itemList .editItemList{
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	width: 10%;
	vertical-align: middle;
	text-align: right;
}
.productListAdd .itemList .editItemList:before{
	color: #1A55AA;
	cursor: pointer;
}
.productListAdd .itemList .deleteItemList{
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	width: 9%;
	vertical-align: middle;
	text-align: right;
	padding-right: 1%;
}
.productListAdd .itemList .deleteItemList:before
{
	color: #FF1A66;
	cursor: pointer;
}
.OrdersData{
	width: 100%;
	margin: auto;
	max-width: 600px !important;
}
.typeRadio input{
	width: auto;
}
.typeRadio label{
	width: 35%;
}
/*LOGIN*/
.loginMorana .logo{
	margin: 0 auto 2em auto !important;
}
.loginMorana h2{
	text-align: center;
	font-size: 1.4em;
	margin: 1em auto 0.3em auto;
	text-transform: uppercase;
	display: none;
}
.loginMorana .forms form{
	max-width: 260px;
}
.loginMorana .forms p{
	position: relative;
}

.loginMorana input.remember{
	display: none;
}
.loginMorana .forms button{
	margin-top: 15px !important;
	float: none !important;
	width: 100% !important;
	max-width: 100% !important;
}
.forgotPassword{
	max-width: 260px !important;
	margin: auto !important;
	text-align: right;
}
span.alertform{
	color: #F00000;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	display: block;
}
span.rememberCheck, span.rememberMeLabel{
	cursor: pointer;
}
span.rememberMeLabel{
	padding-left: 20px;
	font-style: italic;
	font-weight: 200;
	font-size: 0.98em;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
span.rememberCheck:before{
	content: "\33";
	font-family: "morana" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.1em;
	position: absolute;
	top: 3px;
	left: 0;
}
.loginMorana input.remember:checked + span.rememberCheck:before{
	content: "\34";
	color: #FF1A66;
}
@media only screen and (max-width:900px){
	section.content{
		padding-left: 0;
	}
	section.content.expanded{
		padding-left: 0;
	}
	.menuButton{
		left: 190px;
	}
	.mainNav{
		width: 0;
	}
	.footerMorana.expanded{
		padding-left: 0;
	}
	.col80{
		width: 100%;
		margin: auto;
	}

}

@media only screen and (max-width:650px){
	.infoUser .nameUser{
		display: none;
	}

	.paginate_button.page-item.active + .paginate_button.page-item > li{
		background-color: #fff200;
	}
	#dt_next a,
	#dt_previous a{
		font-size: 1em;
		font-family: "morana" !important;
		overflow: hidden;
	}
	#dt_next a{width: 29px;}
	#dt_previous a{width: 28px;}
	#dt_next a:before{
		content: "\63" !important;
		font-size: 1em !important;
	}
	#dt_previous a:before{
		content: "\62" !important;
		font-size: 1em !important;
	}
	#dt_info{
		white-space: normal;
	}

	.stepsAddOrders{
		width: 100%;
		max-width: 240px;
	}
	.stepsAddOrders .step{
		width: 45px;
		height: 45px;
		line-height: 45px;
		margin-right: 15px;
	}
	.stepsAddOrders .step::before{
	    width: 20px;
	    top: 22px;
	    right: -22px;
	}
	.col2{
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	.col2 + .col2{
		margin: 0 auto;
	}
	.forms button{
		float: none;
	}

	.stepContent button{
		float: none;
	}
	.forms span.inputs{
		max-width: 100%;
	}
	.forms .col2 span.col2{
		display: block;
		width: 100%;
	}
	.forms span.label{
		display: block;
		width: 100%;
		text-align: left;
	}
	.forms span.inputs{
		display: block;
		width: 100%;
		margin-left: 0;
	}
	.customersType select{
		margin-bottom: 5px;
	}
	.forms .col2 span.col2 + span.col2{
		margin:0;
	}
	.productListAdd{
		width: 100%;
	}
	.addOtherProduct{
		float: none;
	}
}
