<template>
    <!--SECCION AGREGAR USUARIOS -->
    <section id="recargar" class="content addUsers">
        <alert-component :show="show" :title="title" :message="message" :type="type" @closeAlert="closeAlert"></alert-component>
        <h1 class="c1">AGREGAR USUARIO</h1>
        <div class="infoTables">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="forms">
                                    <p class="indications">Por favor, seleccione e ingrese los datos del usuario.</p>
                                    <ValidationObserver v-slot="{ invalid , handleSubmit, reset}"  ref="form">
                                        <form @submit.prevent="handleSubmit(saveUser)">
                                            <p>
                                                <span class="label"></span>
                                                <span class="inputs">
                                                      <ValidationProvider rules="required" v-slot="{ errors,classes }" tag="span" class="col2">
                                                        <span class="label">Nombres:</span>
                                                        <span class="inputs">
                                                            <input type="text" id="name" v-model.trim="name">
                                                            <span class="alertform">{{ errors[0] }}</span>
                                                        </span>
                                                      </ValidationProvider><ValidationProvider rules="required" v-slot="{ errors,classes }" tag="span" class="col2">
                                                        <span class="label">Apellidos:</span>
                                                        <span class="inputs">
                                                            <input type="text" id="last_name" v-model.trim="last_name">
                                                            <span class="alertform">{{ errors[0] }}</span>
                                                        </span>
                                                    </ValidationProvider>
                                                </span>
                                            </p>
                                            <p>
                                                <span class="label"></span>
                                                <span class="inputs">
                                                    <ValidationProvider rules="required|digits:8" v-slot="{ errors,classes }" tag="span" class="col2">
                                                        <span class="label">DNI:</span>
                                                        <span class="inputs">
                                                            <input type="text" v-mask="'########'" id="dni" v-model.trim="dni">
                                                             <span class="alertform">{{ errors[0] }}</span>
                                                        </span>
                                                    </ValidationProvider><ValidationProvider rules="required" v-slot="{ errors,classes }" tag="span" class="col2">
                                                        <span class="label">Género:</span>
                                                        <span class="inputs">
                                                            <select class="" name="" v-model="gender" id="gender">
                                                                <option selected="true" value="" disabled="disabled">Selecciona</option>
                                                                <option class="" value="male">Masculino</option>
                                                                <option class="" value="female">Femenino</option>
                                                            </select>
                                                             <span class="alertform">{{ errors[0] }}</span>
                                                        </span>
                                                    </ValidationProvider>
                                                </span>
                                            </p>
                                            <p>
                                                <span class="label">Foto de perfil:</span>
                                                <span class="inputs">
                                                    <input class="addImage" type="file" id="profile_photo" name="" ref="profile_photo" accept="image/png, image/jpeg"><span class="resetImage" @click="removeImage()">X</span>
                                                </span>
                                            </p>
                                            <p>
                                                <span class="label">Dirección:</span>
                                               <ValidationProvider rules="required" v-slot="{ errors,classes }" tag="span" class="inputs">
                                                    <input type="text" v-model.trim="address" id="address">
                                                    <span class="alertform">{{ errors[0] }}</span>
                                                </ValidationProvider>
                                            </p>
                                            <p>
                                                <span class="label">E-mail:</span><ValidationProvider rules="required|email" v-slot="{ errors,classes }" tag="span" class="inputs">
                                                    <input type="text" id="email" v-model.trim="email">
                                                    <span class="alertform">{{ errors[0] }}</span>
                                                </ValidationProvider>
                                            </p>
                                            <p>
                                                <span class="label"></span>
                                                <span class="inputs">
                                                    <span class="col2">
                                                        <span class="label">Celular:</span>
                                                        <span class="inputs">
                                                            <input type="text" v-mask="'###-###-###'" v-model.trim="cellphone" >
                                                        </span>
                                                    </span><span class="col2">
                                                        <span class="label">Teléfono:</span>
                                                        <span class="inputs" >
                                                            <input type="text" v-model.trim="phone" v-mask="'###-###-###'">
                                                        </span>
                                                    </span>

                                                </span>
                                            </p>
                                            <p>
                                                <span class="label">Rol:</span><ValidationProvider rules="required" v-slot="{ errors,classes }" tag="span" class="inputs">
                                                    <select class="" id="role_id" name="" v-model="role_id" >
                                                        <option selected="true" value="" disabled="disabled">Selecciona una opción</option>
                                                        <option v-for="r in roles"  :value="r.id">{{ r.name }}</option>
                                                    </select>
                                                     <span class="alertform">{{ errors[0] }}</span>
                                                </ValidationProvider>
                                            </p>
                                            <p>
                                                <span class="label"></span>
                                                <span class="inputs">
                                                    <span class="col2">
                                                        <span class="label">Contraseña:</span>
                                                        <ValidationProvider rules="required" v-slot="{ errors,classes }" tag="span" class="inputs"  vid="password">
                                                            <input type="password" id="password" v-model="password">
                                                            <span class="alertform">{{ errors[0] }}</span>
                                                        </ValidationProvider>
                                                    </span><span class="col2">
                                                        <span class="label">Repetir contraseña:</span>
                                                         <ValidationProvider  mode="aggressive" rules="required|confirmed:password" v-slot="{ errors,classes }" tag="span" class="inputs">
                                                            <input type="password" id="password_confirm" v-model="password_confirm">
                                                            <span class="alertform">{{ errors[0] }}</span>
                                                        </ValidationProvider>
                                                    </span>
                                                </span>
                                            </p>
                                            <p>
                                                <button v-if="invalid" :disabled="invalid">Agregar</button>
                                                <button v-else :disabled="invalid" type="submit">Agregar</button>
                                            </p>
                                        </form>
                                    </ValidationObserver>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECCION AGREGAR USUARIOS -->
</template>

<script>
    import { localize } from 'vee-validate/dist/vee-validate.full.esm';
    export default {
        name: "Users-Create-View",
        created() {
            localize('es',this.customMessages.es) //messages for errors
            this.getRoles();
        },
        methods:{
            async saveUser(){
                let data = new FormData()
                data.append('name', this.name)
                data.append('last_name', this.last_name)
                data.append('dni', this.dni)
                data.append('gender', this.gender)
                data.append('address', this.address)
                data.append('email', this.email)
                data.append('cellphone', this.cellphone)
                data.append('phone', this.phone)
                data.append('role_id', this.role_id)
                data.append('password', this.password)
                data.append('photo',this.$refs.profile_photo.files[0])

                await  axios.post('/api/panel/users', data)
                    .then(response =>{
                        this.clearForm();
                        this.showAlertInfo(response.data.message);
                    })
                    .catch(error=>{})
            },
            getRoles(){
                axios.get('/api/panel/roles')
                    .then(response => {
                        this.roles = response.data;
                    })
                .catch(error =>{})
            },
            clearForm(){
                this.name=this.last_name=this.dni=this.gender=this.address=this.email=this.cellphone=this.phone=this.role_id=
                this.password=this.password_confirm='';
                this.removeImage();

                this.$nextTick(() => {
                    this.$refs.form.reset();
                });
            },
            removeImage(){
                 document.querySelector('#profile_photo').value = ''
            },
            showAlertInfo(message){
                this.show = true;
                this.message=message;
                this.type="information";
                this.title="CORRECTO"
            },
            closeAlert(){
                this.show = false;
            }
        },
        data:()=>({
            roles:[],
            name:'',
            last_name:'',
            dni:'',
            gender:'',
            address:'',
            email:'',
            cellphone:'',
            phone:'',
            role_id:'',
            password:'',
            password_confirm:'',

            //errors messages
            customMessages: {
                es: {
                    fields: {
                        'name': {
                            required: 'El nombre no puede quedar vacio',
                        },
                        'last_name': {
                            required: 'El apellido no puede quedar vacio',
                        },
                        'dni': {
                            required: 'El dni no puede quedar vacio',
                            digits: 'El dni ingresado no es valido'
                        },
                        'gender': {
                              required: 'El genero no puede quedar vacio',
                        },
                        'address': {
                              required: 'La dirección no puede quedar vacia',
                        },
                        'email': {
                              required: 'El email no puede quedar vacio',
                              email:'El email ingresado no es valido'
                        },
                        'cellphone': {
                              required: 'El celular no puede quedar vacio',
                        },
                        'phone': {
                              required: 'El telefono no puede quedar vacio',
                        },
                        'role_id': {
                              required: 'El rol no puede quedar vacio',
                        },
                        'password': {
                              required: 'La contraseña no puede quedar vacio',
                        },
                        'password_confirm': {
                              required: 'Debe confirmar la contraseña',
                              confirmed:'Las contraseñas no coinciden'
                        },

                    }
                }
            },

            //alert
            show:false,
            message:"",
            title:"",
            type:"",
        }),
        mounted() {
            let heightWindows = $(window).height();
            let minHeightMorana = heightWindows - 83;
            $('section.content').css('min-height',minHeightMorana);
            if ($('.mainNav').hasClass('expanded')) {
                $('.mainNav').addClass('expanded');
                $('section.content').addClass('expanded');
                $('.footerMorana').addClass('expanded');
                $('.menuButton').addClass('menuOpen');
            }
        }
    }
</script>

<style scoped>

</style>