<template>

    <!--SECCION USUARIOS -->
    <section id="recargar" class="content users">
        <h1 class="c1">USUARIOS</h1>
        <div class="infoTables">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                               <users-table-component></users-table-component>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECCION USUARIOS -->
</template>

<script>


    export default {
        name: "Users-List-View",
        created(){

        },
        updated: function () {

        },
        methods:{


        },
        data:()=>({

        }),
        mounted() {
            let heightWindows = $(window).height();
            let minHeightMorana = heightWindows - 83;
            $('section.content').css('min-height',minHeightMorana);
            if ($('.mainNav').hasClass('expanded')) {
                $('.mainNav').addClass('expanded');
                $('section.content').addClass('expanded');
                $('.footerMorana').addClass('expanded');
                $('.menuButton').addClass('menuOpen');
            }
        }
    };
</script>

<style scoped>

</style>