	<!--SECCION AGREGAR CATEGORÍA -->
	<section id="recargar" class="content addCategory">
		<h1 class="c1">AGREGAR CATEGORÍA</h1>
		<div class="infoTables">
			<div class="container mt-5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="forms">
										<p class="indications">Por favor, seleccione e ingrese los datos de la categoría.</p>
										<form action="">
											<p>
												<span class="label">Nombre de la Categoría:</span><span class="inputs">
													<input type="text">
												</span>
											</p>
											<p>
												<span class="label">Código de la Categoría:</span><span class="inputs">
													<input type="text">
												</span>
											</p>
											<p>
												<span class="label">Descripción:</span><span class="inputs">
													<textarea name="" id="" cols="30" rows="10"></textarea>
												</span>
											</p>
											<p>
												<button disabled="" type="submit">Agregar</button>
											</p>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!--SECCION AGREGAR CATEGORÍA -->
