	<!--SECCION AGREGAR CLIENTES -->
	<section id="recargar" class="content addCustomers">
		<h1 class="c1">AGREGAR CLIENTE</h1>
		<div class="infoTables">
			<div class="container mt-5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="forms">
										<p class="indications">Por favor, seleccione e ingrese los datos del cliente.</p>
										<form action="">
											<p class="customersType">
												<span class="label"></span><span class="inputs">
													
													<span class="col2">
														<span class="label">Tipo de cliente:</span>
														<span class="inputs">
															<select class="" name="">
																<option selected="true" disabled="disabled">Selecciona una opción</option>
																<option class="" value="">Persona Natural</option>
																<option class="" value="">Persona Jurídica</option>
															</select>
														</span>
													</span><span class="col2">
														<span class="optionDNI">
															<span class="label">DNI:</span>
															<span class="inputs">
																<input type="text">
															</span>
														</span>
														<span class="optionRUC">
															<span class="label">RUC:</span>
															<span class="inputs">
																<input type="text">
															</span>
														</span>
													</span>
												</span>
											</p>
											<p class="customersType">
												<span class="optionDNI">
													<span class="label">Nombres y Apellidos:</span><span class="inputs">
															<input type="text">
													</span>
												</span>
												<span class="optionRUC">
													<span class="label">Razón Social:</span><span class="inputs">
															<input type="text">
													</span>
												</span>												
											</p>
											<p>
												<span class="label">Dirección:</span><span class="inputs">
													<input type="text">
												</span>
											</p>
											<p>
												<span class="label">E-mail:</span><span class="inputs">
													<input type="text">
												</span>
											</p>

											<p>
												<span class="label"></span><span class="inputs">
													
													<span class="col2">
														<span class="label">Celular:</span>
														<span class="inputs">
															<input type="text">
														</span>
													</span><span class="col2">
														<span class="label">Teléfono:</span>
														<span class="inputs">
															<input type="text">
														</span>
													</span>

												</span>
											</p>
											<p>
												<button type="submit">Agregar</button>
											</p>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!--SECCION AGREGAR CLIENTES -->