	<!--SECCION AGREGAR USUARIOS -->
	<section id="recargar" class="content addUsers">
		<h1 class="c1">AGREGAR USUARIO</h1>
		<div class="infoTables">
			<div class="container mt-5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="forms">
										<p class="indications">Por favor, seleccione e ingrese los datos del usuario.</p>
										<form action="">
											<p>
												<span class="label"></span><span class="inputs">
													
													<span class="col2">
														<span class="label">Nombres:</span>
														<span class="inputs">
															<input type="text">
														</span>
													</span><span class="col2">
														<span class="label">Apellidos:</span>
														<span class="inputs">
															<input type="text">
														</span>
													</span>

												</span>
											</p>
											<p>
												<span class="label"></span><span class="inputs">
													
													<span class="col2">
														<span class="label">DNI:</span>
														<span class="inputs">
															<input type="text">
														</span>
													</span><span class="col2">
														<span class="label">Género:</span>
														<span class="inputs">
															<select class="" name="">
																<option selected="true" disabled="disabled">Selecciona</option>
																<option class="" value="">Masculino</option>
																<option class="" value="">Femenino</option>
															</select>
														</span>
													</span>

												</span>
											</p>
											<p>
												<span class="label">Foto de perfil:</span><span class="inputs">
													<input class="addImage" type="file" name="" accept="image/png, image/jpeg"><span class="resetImage">X</span>
												</span>
											</p>
											<p>
												<span class="label">Dirección:</span><span class="inputs">
													<input type="text">
												</span>
											</p>
											<p>
												<span class="label">E-mail:</span><span class="inputs">
													<input type="text">
												</span>
											</p>
											<p>
												<span class="label"></span><span class="inputs">
													
													<span class="col2">
														<span class="label">Celular:</span>
														<span class="inputs">
															<input type="text">
														</span>
													</span><span class="col2">
														<span class="label">Teléfono:</span>
														<span class="inputs">
															<input type="text">
														</span>
													</span>

												</span>
											</p>
											<p>
												<span class="label">Rol:</span><span  class="inputs">
													<select class="" name="">
														<option selected="true" disabled="disabled">Selecciona una opción</option>
														<option class="" value="">Administrador</option>
														<option class="" value="">Secretaria</option>
														<option class="" value="">Contador</option>
														<option class="" value="">Operador</option>
													</select>
												</span>
											</p>
											<p>
												<span class="label"></span><span class="inputs">
													
													<span class="col2">
														<span class="label">Contraseña:</span>
														<span class="inputs">
															<input type="password">
														</span>
													</span><span class="col2">
														<span class="label">Repetir contraseña:</span>
														<span class="inputs">
															<input type="password">
														</span>
													</span>

												</span>
											</p>
											<p>
												<button disabled="" type="submit">Agregar</button>
											</p>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!--SECCION AGREGAR USUARIOS -->