	<!--SECCION AGREGAR PEDIDOS -->
	<section id="recargar" class="content addOrders">
		<h1 class="c1">AGREGAR PEDIDO</h1>
		<div class="infoTables">
			<div class="container mt-5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="forms">
										<p class="indications">Por favor, seleccione e ingrese los datos del producto.<br>Pedido N°<span>000234</span></p>

										<div class="stepsAddOrders">
											<div class="steps">
												<span class="stepsline"></span>
												<span class="step step1 active">1</span>
												<span class="step step2">2</span>
												<span class="step step3">3</span>
												<span class="step step4">4</span>
											</div>
										</div>
										<form action="">
											<div class="contentOrdersFull step1Active">
												<div class="stepContent sc1">
													<div class="col2">
														<div class="col80">
															<h2>DATOS DEL CLIENTE</h2>
															<div>
																<p>
																	<span class="label">RUC / DNI:</span>
																	<span class="inputs">
																		<input type="text">
																	</span>
																</p>
																<p>
																	<span class="label">Nombre / R. Social:</span>
																	<span class="inputs">
																		<input type="text">
																	</span>
																</p>
															</div>
														</div>
													</div><div class="col2">
														<div class="col80">
															<h2>Persona de Contacto</h2>
															<div>
																<p>
																	<span class="label">Nombres y Apellidos:</span>
																	<span class="inputs">
																		<input type="text">
																	</span>
																</p>
																<p>
																	<span class="label">DNI:</span>
																	<span class="inputs">
																		<input type="text">
																	</span>
																</p>
																<p>
																	<span class="label">Email:</span>
																	<span class="inputs">
																		<input type="text">
																	</span>
																</p>
																<p>
																	<span class="col2">
																		<span class="label">Celular:</span>
																		<span class="inputs">
																			<input type="text">
																		</span>
																	</span><span class="col2">
																		<span class="label">Teléfono:</span>
																		<span class="inputs">
																			<input type="text">
																		</span>
																	</span>
																</p>
																<p>
																	<span class="inputs">
																		<div class="buttonNext step1Button">Siguiente</div>
																	</span>
																</p>
																<div class="clear"></div>
															</div>
														</div>
													</div>
												</div><div class="stepContent sc2">
													<!--ITEM PRODUCTO-->
													<div class="productItemAdd">
														<div class="col2">
															<div class="col80">
																<div>
																	<h2>DATOS DEL PRODUCTO</h2>
																	<p>
																		<span class="label">Nombre del Producto:</span>
																		<span class="inputs">
																			<input type="text">
																		</span>
																	</p>
																	<p>
																		<span class="label">Categoría:</span>
																		<span class="inputs">
																			<select class="" name="">
																				<option selected="true" disabled="disabled">Selecciona una categoría</option>
																				<option class="" value="">Madera</option>
																				<option class="" value="">Metal</option>
																				<option class="" value="">Melamine</option>
																				<option class="" value="">Otro</option>
																			</select>
																		</span>
																	</p>
																	<p>
																		<span class="label"></span><span class="inputs">
																			
																			<span class="col2">
																				<span class="label">Cantidad:</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span><span class="col2">
																				<span class="label">Color:</span>
																				<span class="inputs">
																					<input id="color-picker" value='#276cb8' />
																				</span>
																			</span>
																		</span>
																	</p>
																	<p>
																		<span class="label">Descripción:</span><span class="inputs">
																			<textarea name="" id="" cols="30" rows="10"></textarea>
																		</span>
																	</p>
																</div>
															</div>
														</div><div class="col2">
															<div class="col80">
																<h2></h2>
																<div>
																	<h2>Dimensiones del producto</h2>
																	<p>
																		<span class="label"></span><span class="inputs">
																			
																			<span class="col2">
																				<span class="label">Altura(cm):</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span><span class="col2">
																				<span class="label">Ancho(cm):</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span>
																		</span>
																	</p>
																	<p>
																		<span class="label"></span><span class="inputs">
																			<span class="col2">
																				<span class="label">Profundidad(cm):</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span><span class="col2">
																				<span class="label">Diámetro(cm):</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span>
																		</span>
																	</p>
																	<p>
																		<span class="label"></span><span class="inputs">
																			
																			<span class="col2">
																				<span class="label">Espesor:</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span><span class="col2">
																				<span class="label"></span>
																				<span class="inputs">
																				</span>
																			</span>
																		</span>
																	</p>
																	<p>
																		<span class="label">Imagen Referencial:</span><span class="inputs">
																			<input class="addImage" type="file" name="" accept="image/png, image/jpeg"><span class="resetImage">X</span>
																		</span>
																	</p>
																	<p>
																		<span class="inputs">
																			<!--BOTON PARA AGREGAR PRODUCTO-->
																			<div class="addOtherProduct icon-plus-circle active">Agregar producto</div>
																			<!--BOTON PARA AGREGAR PRODUCTO-->

																			<!--BOTON PARA GUARDAR CAMBIOS-->
																			<!--<div class="addOtherProduct icon-check active">Guardar cambios</div>-->
																			<!--BOTON PARA GUARDAR CAMBIOS-->
																		</span>
																	</p>
																</div>
															</div>
														</div>	
													</div>
													<!--ITEM PRODUCTO-->

													<!--LISTA PRODUCTOS AGREGADOS-->
													<h2>Productos Agregados</h2>
													<div class="productListAdd">
														<!--CABECERA PRODUCTOS AGREGADOS-->
														<div class="itemList">
															<span class="title b700">Producto</span><span class="quantity b700">Cantidad</span><span class="editItemList"></span><span class="deleteItemList"></span>
														</div>
														<!--CABECERA PRODUCTOS AGREGADOS-->
														<!--ITEM AGREGADO-->
														<div class="itemList">
															<span class="title">Mesa de madera circular de 4 esquinas :v</span><span class="quantity">10000</span><span class="editItemList icon-pencil-square-o"></span><span class="deleteItemList icon-trash"></span>
														</div>
														<!--ITEM AGREGADO-->
														<!--ITEM AGREGADO-->
														<div class="itemList">
															<span class="title">Mesa de madera circular de 4 esquinas :v</span><span class="quantity">9999999</span><span class="editItemList icon-pencil-square-o"></span><span class="deleteItemList icon-trash"></span>
														</div>
														<!--ITEM AGREGADO-->
													</div>
													<!--LISTA PRODUCTOS AGREGADOS-->
													
													<!--BOTON SIGUIENTE PASO-->
													<div class="productItemAdd">
														<div class="col2">
														</div><div class="col2">
															<div class="col80">
																	<p>
																		<span class="inputs">
																			<div class="buttonNext step2Button">Siguiente</div>
																		</span>
																	</p>
																	<div class="clear"></div>
															</div>
														</div>	
													</div>
													<!--BOTON SIGUIENTE PASO-->
												</div><div class="stepContent sc3">
													<div class="OrdersData">
														<h2>DATOS DEL PEDIDO</h2>
														<p>
															<span class="label"></span><span class="inputs">
																<span class="col2">
																	<span class="label">Fecha de Ingreso:</span>
																	<span class="inputs">
																		<input type="date">
																	</span>
																</span><span class="col2">
																	<span class="label">Tiempo estimado (días)</span>
																	<span class="inputs">
																		<input type="number">
																	</span>
																</span>
															</span>
														</p>
														<p>
															<span class="label"></span><span class="inputs">
																<span class="col2">
																</span><span class="col2">
																	<span class="label">Fecha de entrega</span>
																	<span class="inputs">
																		<input type="date">
																	</span>
																</span>
															</span>
														</p>
														<p>
															<span class="label">Lugar de Entrega:</span><span class="inputs">
																<textarea name="" id="" cols="30" rows="10">Cargar por defecto dirección registrada de cliente</textarea>
															</span>
														</p>
														<p>
															<span class="inputs">
																<div class="buttonNext step3Button">Siguiente</div>
															</span>
														</p>
														<div class="clear"></div>
													</div>
												</div><div class="stepContent sc4">
													<div class="col2">
													<div class="col80">
																<h2></h2>
																<div>
																	<h2>DATOS DE FACTURACIÓN</h2>
																	<p>
																		<span class="label"></span><span class="inputs">
																			
																			<span class="col2">

																				<span class="label">Moneda:</span>
																				<span class="inputs">
																					<select class="" name="">
																						<option selected="true">Soles</option>
																						<option class="" value="">Dólares</option>
																					</select>
																				</span>
																			</span><span class="col2">
																				<span class="label">Monto:</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span>
																		</span>
																	</p>
																	<p>
																		<span class="label"></span><span class="inputs">
																			<span class="col2">
																				<span class="label">Incluye IGV:</span>
																				<span class="inputs">
																					<span class="optionsIGV">
																						<span class="typeRadio">
																						  <input id="igvsi" type="radio" name="igvoption" value="1"
																						         checked>
																						  <label for="igvsi">Sí</label>
																						</span>

																						<span class="typeRadio">
																						  <input id="igvno" type="radio" name="igvoption" value="0">
																						  <label for="igvno">No</label>
																						</span>
																					</span>
																				</span>
																			</span><span class="col2">
																				<span class="label">Descuento (%):</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span>
																		</span>
																	</p>
																	<p>
																		<span class="label"></span><span class="inputs">
																			
																			<span class="col2">
																				<span class="label">Total a pagar:</span>
																				<span class="inputs">
																					<input disabled="" type="text">
																				</span>
																			</span><span class="col2">
																				<span class="label"></span>
																				<span class="inputs">
																				</span>
																			</span>
																		</span>
																	</p>
																</div>
															</div>
														</div><div class="col2">
														<div class="col80">
																<h2></h2>
																<div>
																	<h2>Detalle de facturación</h2>
																	<p>
																		<span class="label"></span><span class="inputs">
																			
																			<span class="col2">

																				<span class="label">Tipo de Comprobante:</span>
																				<span class="inputs">
																					<select class="" name="">
																						<option selected="true">Factura</option>
																						<option class="" value="">Boleta</option>
																					</select>
																				</span>
																			</span><span class="col2">
																				<span class="label">Número de Comprobante:</span>
																				<span class="inputs">
																					<input type="text">
																				</span>
																			</span>
																		</span>
																	</p>
																	<p>
																		<span class="label"></span><span class="inputs">
																			
																			<span class="col2">

																				<span class="label">Forma de Pago:</span>
																				<span class="inputs">
																					<select class="" name="">
																						<option selected="true">Contado</option>
																						<option class="" value="">Crédito</option>
																					</select>
																				</span>
																			</span><span class="col2">
																				<span class="label">Número de cuotas:</span>
																				<span class="inputs">
																					<input type="number">
																				</span>
																			</span>
																		</span>
																	</p>
																	<!--CUOTAS-->
																	<p>
																		<span class="label"></span><span class="inputs">
																			<span class="col2">
																				<span class="label">1°Cuota:</span>
																				<span class="inputs">
																					<input type="number" value="">
																					<!--PONER EN VALUE TOTAL ENTRE NÚMERO DE CUOTAS-->
																				</span>
																			</span><span class="col2">
																				<span class="label">Cancelada:</span>
																				<span class="inputs">
																					<span class="optionsPayFees">
																						<span class="typeRadio">
																						  <input id="payyes" type="radio" name="payFees1" value="1">
																						  <label for="payyes">Sí</label>
																						</span>

																						<span class="typeRadio">
																						  <input id="paynot" type="radio" name="payFees1" value="0">
																						  <label for="paynot">No</label>
																						</span>
																					</span>
																				</span>
																			</span>
																		</span>
																	</p>
																	<!--CUOTAS-->
																	<!--CUOTAS-->
																	<p>
																		<span class="label"></span><span class="inputs">
																			<span class="col2">
																				<span class="label">2°Cuota:</span>
																				<span class="inputs">
																					<input type="number" value="">
																					<!--PONER EN VALUE TOTAL ENTRE NÚMERO DE CUOTAS-->
																				</span>
																			</span><span class="col2">
																				<span class="label">Cancelada:</span>
																				<span class="inputs">
																					<span class="optionsPayFees">
																						<span class="typeRadio">
																						  <input id="payyes" type="radio" name="payFees2" value="1">
																						  <label for="payyes">Sí</label>
																						</span>

																						<span class="typeRadio">
																						  <input id="paynot" type="radio" name="payFees2" value="0" checked>
																						  <label for="paynot">No</label>
																						</span>
																					</span>
																				</span>
																			</span>
																		</span>
																	</p>
																	<!--CUOTAS-->
																	<!--CUOTAS-->
																	<p>
																		<span class="label"></span><span class="inputs">
																			<span class="col2">
																				<span class="label">3°Cuota:</span>
																				<span class="inputs">
																					<input type="number" value="">
																					<!--PONER EN VALUE TOTAL ENTRE NÚMERO DE CUOTAS-->
																				</span>
																			</span><span class="col2">
																				<span class="label">Cancelada:</span>
																				<span class="inputs">
																					<span class="optionsPayFees">
																						<span class="typeRadio">
																						  <input id="payyes" type="radio" name="payFees3" value="1">
																						  <label for="payyes">Sí</label>
																						</span>

																						<span class="typeRadio">
																						  <input id="paynot" type="radio" name="payFees3" value="0" checked>
																						  <label for="paynot">No</label>
																						</span>
																					</span>
																				</span>
																			</span>
																		</span>
																	</p>
																	<!--CUOTAS-->
																	<!--CUOTAS-->
																	<p>
																		<span class="label"></span><span class="inputs">
																			<span class="col2">
																				<span class="label">4°Cuota:</span>
																				<span class="inputs">
																					<input type="number" value="">
																					<!--PONER EN VALUE TOTAL ENTRE NÚMERO DE CUOTAS-->
																				</span>
																			</span><span class="col2">
																				<span class="label">Cancelada:</span>
																				<span class="inputs">
																					<span class="optionsPayFees">
																						<span class="typeRadio">
																						  <input id="payyes" type="radio" name="payFees4" value="1">
																						  <label for="payyes">Sí</label>
																						</span>

																						<span class="typeRadio">
																						  <input id="paynot" type="radio" name="payFees4" value="0" checked>
																						  <label for="paynot">No</label>
																						</span>
																					</span>
																				</span>
																			</span>
																		</span>
																	</p>
																	<!--CUOTAS-->
																	<p>
																		<span class="inputs">
																			<button>FINALIZAR</button>
																		</span>
																	</p>
																	<div class="clear"></div>
																</div>
															</div>
														</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!--SECCION AGREGAR PEDIDOS -->