	<!--SECCION AGREGAR PRODUCTOS -->
	<section id="recargar" class="content addProducts">
		<h1 class="c1">AGREGAR PRODUCTO</h1>
		<div class="infoTables">
			<div class="container mt-5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="forms">
										<p class="indications">Por favor, seleccione e ingrese los datos del producto.</p>
										<form action="">
											<p>
												<span class="label">Nombre del producto:</span><span class="inputs">
													<input type="text" placeholder="Escriba el nombre del producto">
												</span>
											</p>
											<p>
												<span class="label">Categoría del producto:</span><span  class="inputs">
													<select class="" name="">
														<option selected="true" disabled="disabled">Selecciona una categoría</option>
														<option class="" value="">Madera</option>
														<option class="" value="">Metal</option>
														<option class="" value="">Melamine</option>
														<option class="" value="">Otro</option>
													</select>
												</span>
											</p>
											<p>
												<span class="label">Código del producto:</span><span class="inputs">
													<input disabled="" type="text" placeholder="MEREMAD001">
												</span>
											</p>
											<p>
												<span class="label">Color:</span><span class="inputs">
													<input id="color-picker" value='#276cb8' />
												</span>
											</p>
											<p>
												<span class="label">Dimensiones del producto:</span><span class="inputs">
												</span>
											</p>
											<p>
												<span class="label"></span><span class="inputs">
													
													<span class="col2">
														<span class="label">Altura(cm):</span>
														<span class="inputs">
															<input type="number">
														</span>
													</span><span class="col2">
														<span class="label">Ancho(cm):</span>
														<span class="inputs">
															<input type="number">
														</span>
													</span>
												</span>
											</p>
											<p>
												<span class="label"></span><span class="inputs">
													
													<span class="col2">
														<span class="label">Profundidad(cm):</span>
														<span class="inputs">
															<input type="number">
														</span>
													</span><span class="col2">
														<span class="label">Diámetro(cm):</span>
														<span class="inputs">
															<input type="number">
														</span>
													</span>
												</span>
											</p>
											<p>
												<span class="label"></span><span class="inputs">
													
													<span class="col2">
														<span class="label">Espesor:</span>
														<span class="inputs">
															<input type="number">
														</span>
													</span><span class="col2">
														<span class="label"></span>
														<span class="inputs">
														</span>
													</span>
												</span>
											</p>

											<p>
												<span class="label">Imagen Referencial:</span><span class="inputs">
													<input class="addImage" type="file" name="" accept="image/png, image/jpeg"><span class="resetImage">X</span>
												</span>
											</p>

											<p>
												<span class="label">Descripción:</span><span class="inputs">
													<textarea name="" id="" cols="30" rows="10"></textarea>
												</span>
											</p>
											<p>
												<button disabled="" type="submit">Agregar</button>
											</p>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!--SECCION AGREGAR PRODUCTOS -->