
	<!--SECCION USUARIOS -->
	<section id="recargar" class="content users">
		<h1 class="c1">USUARIOS</h1>
		<div class="infoTables">
			<div class="container mt-5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<table id="" class="tableResponsive table table-striped table-bordered dt-responsive nowrap">
								        <thead>
								            <tr>
								                <th>#</th>
								                <th>Nombres y Apellidos</th>
								                <th>DNI</th>
								                <th>Celular</th>
								                <th>E-mail</th>
								                <th>Rol</th>
								                <th>Detalle</th>
								            </tr>
								        </thead>
								        <tbody>
								        	<tr>
								            	<td>1</td>
								                <td>Jorge Luis Peña Zapata</td>
								                <td>56784567</td>
								                <td>962767443</td>
								                <td>0512020001@alumnos.unp.edu.pe</td>
								                <td>Gerente General</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>2</td>
								                <td>Alexander Ramos Da Silva</td>
								                <td>78784567</td>
								                <td>998765432</td>
								                <td>0512020002@alumnos.unp.edu.pe</td>
								                <td>Gerente Comercial</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>3</td>
								                <td>María Nelly Donayre de Aguirre</td>
								                <td>67677667</td>
								                <td>962767443</td>
								                <td>0512020003@alumnos.unp.edu.pe</td>
								                <td>Asesora de Ventas</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>4</td>
								                <td>Jorge Luis Peña Zapata</td>
								                <td>56784567</td>
								                <td>962767443</td>
								                <td>0512020001@alumnos.unp.edu.pe</td>
								                <td>Gerente General</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>5</td>
								                <td>Jorge Luis Peña Zapata</td>
								                <td>56784567</td>
								                <td>962767443</td>
								                <td>0512020001@alumnos.unp.edu.pe</td>
								                <td>Gerente General</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>6</td>
								                <td>Jorge Luis Peña Zapata</td>
								                <td>56784567</td>
								                <td>962767443</td>
								                <td>0512020001@alumnos.unp.edu.pe</td>
								                <td>Gerente General</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								        </tbody>
								        <tfoot>
								            <tr>
								            	<th>#</th>
								                <th>Nombres y Apellidos</th>
								                <th>DNI</th>
								                <th>Celular</th>
								                <th>E-mail</th>
								                <th>Rol</th>
								                <th>Detalle</th>
								            </tr>
								        </tfoot>
								    </table>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!--SECCION USUARIOS -->