<!--SECCION CATEGORIA -->
	<section id="recargar" class="content category">
		<h1 class="c1">CATEGORÍAS</h1>
		<div class="infoTables">
			<div class="container mt-5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<table id="" class="tableResponsive table table-striped table-bordered dt-responsive nowrap">
								        <thead>
								            <tr>
								                <th>#</th>
								                <th>Nombre</th>
								                <th>Código</th>
								                <th>Descripción</th>
								                <th>Detalle</th>
								            </tr>
								        </thead>
								        <tbody>
								        	<tr>
								            	<td>1</td>
								                <td>Madera</td>
								                <td>MAD</td>
								                <td>Muebles hechos en madera.</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>2</td>
								                <td>Melamine</td>
								                <td>MEL</td>
								                <td>Muebles hechos en melamine.</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>3</td>
								                <td>Metal</td>
								                <td>MET</td>
								                <td>Muebles hechos en metal.</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>4</td>
								                <td>Otro</td>
								                <td>OTR</td>
								                <td>Muebles hechos en otro tipo de material.</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								        </tbody>
								        <tfoot>
								            <tr>
								            	<th>#</th>
								                <th>Nombre</th>
								                <th>Código</th>
								                <th>Descripción</th>
								                <th>Detalle</th>
								            </tr>
								        </tfoot>
								    </table>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!--SECCION CATEGORIA -->