	<!--SECCION CLIENTES -->
	<section id="recargar" class="content customers">
		<h1 class="c1">CLIENTES</h1>
		<div class="infoTables">
			<div class="container mt-5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<table id="" class="tableResponsive table table-striped table-bordered dt-responsive nowrap">
								        <thead>
								            <tr>
								                <th>#</th>
								                <th>Nombre o Razón Social</th>
								                <th>DNI / RUC</th>
								                <th>Teléfono / Celular</th>
								                <th>E-mail</th>
								                <th>Dirección</th>
								                <th>Tipo de Cliente</th>
								                <th>Detalle</th>
								            </tr>
								        </thead>
								        <tbody>
								        	<tr>
								            	<td>1</td>
								                <td>Universidad Nacional de Piura</td>
								                <td>20465836386</td>
								                <td>965767443</td>
								                <td>tramitedocumentariovirtual@unp.edu.pe</td>
								                <td>Av. Universitaria S/N al costado de Open Plaza</td>
								                <td>Persona Jurídica</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>2</td>
								                <td>Universidad Nacional de Piura</td>
								                <td>20465836386</td>
								                <td>965767443</td>
								                <td>tramitedocumentariovirtual@unp.edu.pe</td>
								                <td>Av. Universitaria S/N al costado de Open Plaza</td>
								                <td>Persona Jurídica</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>3</td>
								                <td>Universidad Nacional de Piura</td>
								                <td>20465836386</td>
								                <td>965767443</td>
								                <td>tramitedocumentariovirtual@unp.edu.pe</td>
								                <td>Av. Universitaria S/N al costado de Open Plaza</td>
								                <td>Persona Jurídica</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>4</td>
								                <td>Universidad Nacional de Piura</td>
								                <td>20465836386</td>
								                <td>965767443</td>
								                <td>tramitedocumentariovirtual@unp.edu.pe</td>
								                <td>Av. Universitaria S/N al costado de Open Plaza</td>
								                <td>Persona Jurídica</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>5</td>
								                <td>Universidad Nacional de Piura</td>
								                <td>20465836386</td>
								                <td>965767443</td>
								                <td>tramitedocumentariovirtual@unp.edu.pe</td>
								                <td>Av. Universitaria S/N al costado de Open Plaza</td>
								                <td>Persona Jurídica</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>6</td>
								                <td>Universidad Nacional de Piura</td>
								                <td>20465836386</td>
								                <td>965767443</td>
								                <td>tramitedocumentariovirtual@unp.edu.pe</td>
								                <td>Av. Universitaria S/N al costado de Open Plaza</td>
								                <td>Persona Jurídica</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								        </tbody>
								        <tfoot>
								            <tr>
								            	<th>#</th>
								                <th>Nombre o Razón Social</th>
								                <th>DNI / RUC</th>
								                <th>Teléfono / Celular</th>
								                <th>E-mail</th>
								                <th>Dirección</th>
								                <th>Tipo de Cliente</th>
								                <th>Detalle</th>
								            </tr>
								        </tfoot>
								    </table>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!--SECCION CLIENTES -->