	<!--SECCION PRODUCTOS -->
	<section id="recargar" class="content products">
		<h1 class="c1">PRODUCTOS</h1>
		<div class="infoTables">
			<div class="container mt-5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<table id="" class="tableResponsive table table-striped table-bordered dt-responsive nowrap">
								        <thead>
								            <tr>
								                <th>#</th>
								                <th>Nombre</th>
								                <th>Categoría</th>
								                <th>Código</th>
								                <th>Color</th>
								                <th>Descripción</th>
								                <th>Detalle</th>
								            </tr>
								        </thead>
								        <tbody>
								        	<tr>
								            	<td>1</td>
								                <td>Escritorio Oficina</td>
								                <td>Madera</td>
								                <td>ESOFMA001</td>
								                <td>Color</td>
								                <td>Escritorio de 2 piezas para oficina, acabado mate.</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>1</td>
								                <td>Escritorio Oficina</td>
								                <td>Madera</td>
								                <td>ESOFMA001</td>
								                <td>Color</td>
								                <td>Escritorio de 2 piezas para oficina, acabado mate.</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>1</td>
								                <td>Escritorio Oficina</td>
								                <td>Madera</td>
								                <td>ESOFMA001</td>
								                <td>Color</td>
								                <td>Escritorio de 2 piezas para oficina, acabado mate.</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>1</td>
								                <td>Escritorio Oficina</td>
								                <td>Madera</td>
								                <td>ESOFMA001</td>
								                <td>Color</td>
								                <td>Escritorio de 2 piezas para oficina, acabado mate.</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>1</td>
								                <td>Escritorio Oficina</td>
								                <td>Madera</td>
								                <td>ESOFMA001</td>
								                <td>Color</td>
								                <td>Escritorio de 2 piezas para oficina, acabado mate.</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>1</td>
								                <td>Escritorio Oficina</td>
								                <td>Madera</td>
								                <td>ESOFMA001</td>
								                <td>Color</td>
								                <td>Escritorio de 2 piezas para oficina, acabado mate.</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>1</td>
								                <td>Escritorio Oficina</td>
								                <td>Madera</td>
								                <td>ESOFMA001</td>
								                <td>Color</td>
								                <td>Escritorio de 2 piezas para oficina, acabado mate.</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>1</td>
								                <td>Escritorio Oficina</td>
								                <td>Madera</td>
								                <td>ESOFMA001</td>
								                <td>Color</td>
								                <td>Escritorio de 2 piezas para oficina, acabado mate.</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>1</td>
								                <td>Escritorio Oficina</td>
								                <td>Madera</td>
								                <td>ESOFMA001</td>
								                <td>Color</td>
								                <td>Escritorio de 2 piezas para oficina, acabado mate.</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								            <tr>
								            	<td>1</td>
								                <td>Escritorio Oficina</td>
								                <td>Madera</td>
								                <td>ESOFMA001</td>
								                <td>Color</td>
								                <td>Escritorio de 2 piezas para oficina, acabado mate.</td>
								                <td><a class="read-more" href="#">Ver más</a></td>
								            </tr>
								        </tbody>
								        <tfoot>
								            <tr>
								            	<th>#</th>
								                <th>Nombres y Apellidos</th>
								                <th>DNI</th>
								                <th>Celular</th>
								                <th>E-mail</th>
								                <th>Rol</th>
								                <th>Detalle</th>
								            </tr>
								        </tfoot>
								    </table>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!--SECCION PRODUCTOS -->